body {
    font-size: 14.5px;
}

/**** TEXT / FONT ****/
.p-30 {
    padding: 30px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

/**** MARGIN ****/
.m-35 {
    margin: 35px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

/**** TEXT / FONT ****/
.f-10 {
    font-size: 10px !important;
}

.f-11 {
    font-size: 11px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-17 {
    font-size: 17px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-19 {
    font-size: 19px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-21 {
    font-size: 21px !important;
}

.f-22 {
    font-size: 22px !important;
}

.f-23 {
    font-size: 23px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-25 {
    font-size: 25px !important;
}

.f-30 {
    font-size: 30px !important;
}

.f-600 {
    font-weight: 600;
}

.form-control {
    font-size: 14px;
}

/**** COLORS ****/
.c-darkblue {
    color: #1769aa !important;
}

/**** GENERAL LAYOUT ****/
a, a *,
.btn,
.btn * {
    cursor: pointer;
}

    .btn:active {
        margin: 3px auto -3px;
    }

.divider {
    height: 10px;
    margin: 1px 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-lg > i {
    line-height: inherit;
}

.md-6x {
    font-size: 6em;
}

.block-header .row h2 {
    font-size: 15px;
    color: #777;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

.label {
    border-radius: 10px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    text-shadow: 0 -1px 0 rgba(31,32,33,.32);
}

.well {
    border-radius: 5px;
}

.alert .alert-link {
    text-decoration: underline;
}

.fg-line input {
    padding-left: 5px;
}

.jumbotron p {
    font-weight: 300;
}

.bumpUp-1 {
    position: relative;
    top: -1px;
}

.bumpUp-2 {
    position: relative;
    top: -2px;
}

.bumpUp-3 {
    position: relative;
    top: -3px;
}

.bumpUp-10 {
    position: relative;
    top: -10px;
}

.z-index-high {
    z-index: 999;
}

input[type='password'] {
    letter-spacing: 1px;
}

.capitalize {
    text-transform: capitalize !important;
}

.uppercase {
    text-transform: uppercase;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

    .fade.in {
        opacity: 1;
    }

.ng-hide.ng-hide-animate {
    display: none !important;
}


#nav-profile-pic {
    max-height: 40px;
    border-radius: 50%;
    box-shadow: 0 6px 12px -5px rgba(4,10,28,.5);
    position: absolute;
    left: -66px;
    top: -9px;
}

.nav-btn-dropdown {
    position: absolute !important;
    top: 23px;
    height: 24px;
    right: 6%;
}

    .nav-btn-dropdown a {
        background: transparent;
        color: #fff;
    }

.top-menu > li.nav-btn-dropdown:hover:before {
    opacity: 0 !important;
    filter: alpha(opacity=100) !important;
}


/**** TABLES ****/
table tr th:not(:first-child).columnWidth-13pc {
    width: 13%;
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-align: center;
}

table tr th:first-child.columnWidth-13pc {
    width: 13%;
    padding-right: 2px !important;
    text-align: center;
}

#propDetailsTbl .tr th {
    text-align: center;
}

table .columnWidth-26pc {
    width: 26%;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

table img.tableUserPic {
    border-radius: 50%;
    box-shadow: 0 3px 3px -1px rgba(147,149,152,.5);
    max-width: 68px;
}

table .md-tableHdr {
    position: absolute;
    right: -4px;
    top: 2px;
    font-size: 15px;
}

.bootgrid-table th > .column-header-anchor > .text {
    margin-right: 5px;
}

table tbody td .label {
    padding: 3px 9px;
}

#histTbl > tbody > tr > td,
#tenantRqstTbl > tbody > tr > td {
    padding-top: 15px;
    padding-bottom: 15px;
}

    #tenantRqstTbl > thead > tr > th,
    #tenantRqstTbl > tbody > tr > td:not(:first-child) {
        text-align: center;
    }

#tenantRqstTbl > thead > tr th:nth-child(3) {
    width: 125px;
    padding: 2px;
}

.unit-num {
    padding: 2px !important;
}

td.unit-num {
    font-weight: 600;
    max-width: 58px !important;
    background: #fff;
    word-break: break-all;
}

td.odd .unit-num {
    background-color: #fff !important;
}

td.unit-rent {
    padding: 5px;
    border-radius: 10px 0 0 10px;
}

    td.unit-rent:before {
        content: "$";
        margin-right: 4px;
    }

/* OLD PROP DETAILS TABLE */
#propDetailsTbl.table > thead > tr > th, #propDetailsTbl.table > tbody > tr > th,
#propDetailsTbl.table > tfoot > tr > th, #propDetailsTbl.table > thead > tr > td,
#propDetailsTbl.table > tbody > tr > td, #propDetailsTbl.table > tfoot > tr > td {
    padding: 15px 8px;
}

#propDetailsTbl .media-body {
    overflow: visible;
    padding-left: 10px;
}

#propDetailsTbl tbody .media .icons {
    margin-top: 3px;
}

    #propDetailsTbl tbody .media .icons i {
        opacity: .85;
        font-size: 13px;
        line-height: 18px !important;
        margin-right: 6%;
        -webkit-transition: 180ms all ease-out;
        transition: 180ms all ease-out;
        z-index: 99;
    }

        #propDetailsTbl tbody .media .icons i:hover {
            opacity: .95;
            -webkit-transform: scale(1.3,1.3);
            transform: scale(1.3,1.3);
        }

            #propDetailsTbl tbody .media .icons i:hover:after {
                content: "";
                background: rgba(32,33,34,.9);
                border-radius: 4px;
                color: #ffffff;
                font-family: Roboto,'Open Sans',sans-serif;
                font-size: 10px;
                padding: 3px 10px 4px;
                position: absolute;
                left: -20px;
                bottom: -25px;
                width: 130px;
                z-index: 999;
            }

    #propDetailsTbl tbody .media .icons .md-email.c-blue:hover:after {
        content: "Email is verified :-)";
        width: 106px;
    }

    #propDetailsTbl tbody .media .icons .md-phone-iphone.c-blue:hover:after {
        content: "Phone is verified.";
        left: -35px;
        width: 100px;
    }

    #propDetailsTbl tbody .media .icons .md-account-balance.c-blue:hover:after {
        content: "Bank account has been added.";
        left: -65px;
        width: 160px;
    }

    #propDetailsTbl tbody .media .icons .md-verified-user.c-blue:hover:after {
        content: "Tenant's ID has been verified.";
        width: 155px;
    }

    #propDetailsTbl tbody .media .icons .md-email.c-gray:hover:after {
        content: "Email is not verified yet.";
        width: 150px;
    }

    #propDetailsTbl tbody .media .icons .md-phone-iphone.c-gray:hover:after {
        content: "Phone is not verified yet.";
        left: -35px;
        width: 150px;
    }

    #propDetailsTbl tbody .media .icons .md-account-balance.c-gray:hover:after {
        content: "No bank attached yet.";
        left: -65px;
        width: 150px;
    }

    #propDetailsTbl tbody .media .icons .md-verified-user.c-gray:hover:after {
        content: "Tenant's ID not verified.";
        width: 150px;
    }

#propDetailsTbl tbody td > .media {
    min-width: 200px;
}

#propDetailsTbl .lastPaymentDate {
    display: block;
    color: rgba(108,110,112,.96);
    margin-top: 5px;
    font-size: 13px;
}

#addUnitForm > div:not(.well) {
    margin-bottom: 40px;
}


/**** CARDS ****/
.card-header .headerIcon i {
    color: #939598;
    text-shadow: 0 -1px 0px rgba(64,65,66,.85);
}

.card-header .headerIcon .md-5x {
    line-height: .55;
}

.card-header .headerIcon .md-4x {
    line-height: .75;
}

    .card-header .headerIcon .md-4x > i {
        font-size: .4em;
        position: absolute;
        top: -2px;
        left: 68px;
        opacity: .65;
        text-shadow: none;
    }

.card .card-header h2 small {
    display: block;
    margin-top: 5px;
    color: #AEAEAE;
    line-height: 120%;
    font-size: 14px;
}

.jumbotron#welcome .card {
    display: block;
    white-space: initial;
    line-height: inherit;
    padding: 5px;
}

.jumbotron#welcome #homeCardContainer .card:active {
    -webkit-transition: .2s margin-top ease-out;
    transition: .2s margin-top ease-out;
    margin-top: 3px;
}

#acntChecklistCard .lv-item span span i {
    float: right;
    font-size: 18px;
    position: relative;
    left: 4px;
    top: -2px;
}

.easy-pie.main-pie .percent {
    margin-top: 40px;
}

    .easy-pie.main-pie .percent:after {
        font-size: 30px;
        position: relative;
        top: -12px;
    }


/**** ALERTS / DIALOG BOXES ****/
.alert {
    border-radius: 5px;
    font-size: 15px;
}

form .alert {
    padding: 12px 25px !important;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: 0px;
    right: -2px;
    color: inherit;
}

.alert > i.md {
    font-size: 130%;
    line-height: 1;
}


/**** MODALS ****/
.modal-header .modalclose {
    position: absolute;
    right: 4%;
    top: 11px;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/**** POPOVERS ****/
.popover {
    box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.35);
    padding: 15px;
    min-width: 150px;
}

.popover-title {
    font-size: 13px;
    line-height: 1.25;
    margin-bottom: 5px;
    padding: 0;
}

.popover-content {
    padding: 0;
}

#addUnitModal .popover {
    background-color: #2196f3;
    border-color: #2196f3;
    color: #fff;
}

    #addUnitModal .popover .popover-title {
        background: none;
        color: #fff;
    }

    #addUnitModal .popover.bottom > .arrow {
        border-bottom-color: #2196f3;
    }

.placeholder-sm::-webkit-input-placeholder {
    font-size: 15px;
}

.placeholder-sm:-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
}

.placeholder-sm::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px;
}

.placeholder-sm:-ms-input-placeholder {
    font-size: 15px;
}


/**** TO-DO LIST WIDGET ****/
.listview .lv-item .media-body {
    padding-top: 5px;
}


/**** FORMS ****/
.form-horizontal .control-label {
    font-weight: 600;
}

    .form-horizontal .control-label > small {
        color: #9E9E9E;
        display: block;
        font-size: 13px;
    }

.noUi-connect {
    background: #72bf44;
}

.noUi-horizontal .noUi-handle {
    background-color: #72bf44;
}


/** UIBLOCK (LOADING BOX) **/
.blockUI.blockOverlay {
    opacity: 0 !important;
}

.blockUI.blockElement {
    top: 10px !important;
}

.blockUI .fa-loading {
    font-size: 40px;
}

.blockUI .loadingMsg {
    display: block;
    font-size: 18px;
    margin: 15px auto 0;
    font-weight: 300;
    text-shadow: 0 0 0 #fff;
}


/**** HOME ****/
.homePromptCard {
    cursor: pointer;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

    .homePromptCard p {
        font-size: 17px;
    }

    .homePromptCard .card-body .bank-row {
        margin: 0 -24px 15px;
    }

        .homePromptCard .card-body .bank-row img {
            width: 18%;
            margin: 0 .6%;
            border-radius: 14px;
            box-shadow: 0 10px 17px -11px rgba(32,33,34,.3);
        }

    .homePromptCard .card-body small {
        font-size: 15px;
    }

.mini-charts-item:not(.nolink) {
    cursor: pointer;
}


/**** LOGIN ****/
body.login-content:before {
    background: #3fabe1;
    top: initial;
    bottom: 0px !important;
}

#loginLogo {
    width: 100%;
    background: none;
    position: absolute;
    top: 48px;
}

    #loginLogo div {
        width: 40%;
        max-width: 200px;
        margin: 0 auto;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        position: relative;
        left: -7%;
    }

    #loginLogo img {
        width: 100%;
        height: auto;
    }

    #loginLogo div::after {
        content: 'For Landlords';
        display: inline-block;
        font-size: 28px;
        font-weight: 200;
        max-width: 100px;
        text-align: left;
        position: absolute;
        left: 109%;
        top: 0px;
        line-height: 1.25;
        text-transform: uppercase;
        border-left: 2px solid #3fabe1;
        padding-left: 16px;
        /*-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;*/
    }

.login-content p.intro {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: -4px auto 24px;
    text-transform: uppercase;
}

.login-content .lc-block {
    border-radius: 40px;
    box-shadow: 0 6px 15px -4px rgba(0, 0, 0, 0.35);
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
    padding: 30px 55px 15px;
    top: 160px;
}

    .login-content .lc-block#l-register {
        top: 160px;
    }

.login-content .form-group {
    margin-bottom: 16px;
}

.login-content .form-control {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}

.login-content .input-group:not(.input-group-lg):not(.input-group-sm) .input-group-addon i {
    font-size: 25px;
    position: relative;
    top: -4px;
}

.login-content .fg-float {
    margin-left: 7%;
    padding: 0 30px 10px 0;
    width: 100%;
    max-width: 480px;
}

    .login-content .fg-float > span {
        font-size: 25px;
        position: absolute;
        left: -35px;
    }

    .login-content .fg-float .fg-label {
        left: 5px;
        top: 6px;
        font-size: 18px;
        color: rgb(88,90,92);
    }

    .login-content .fg-float .fg-toggled + .fg-label {
        top: -18px;
        font-size: 13px;
    }

.form-group.halfwidth {
    float: left;
    width: 44.5%;
}

    .form-group.halfwidth:nth-child(2) {
        margin-left: 4%;
        padding-right: 0;
    }

.login-content .help-block {
    text-align: left;
    margin-top: 6px;
    padding-left: 5px;
    position: absolute;
}

    .login-content .help-block.forgotpw {
        position: static;
        float: right;
    }

.login-content .btn {
    border-radius: 6px;
}

.btn-login {
    z-index: 999;
}

#createAccnt {
    width: 60%;
}

form .checkbox.haserror .input-helper:before {
    border-color: red;
    box-shadow: 0 1px 12px -1px rgba(240,50,50,.8);
}


@media (min-width: 767px) {
    .login-content .lc-block {
        min-width: 480px;
    }
}

/**** LEFT SIDEBAR ****/
#sidebar,
#sidebar .sidebar-inner {
    width: 230px;
}

    #sidebar .profile-menu > a {
        height: 153px;
        margin-bottom: 0;
    }

        #sidebar .profile-menu > a .profile-pic {
            padding: 13px 0 3px 15px;
        }

            #sidebar .profile-menu > a .profile-pic > img {
                height: 90px;
                width: 90px;
            }

        #sidebar .profile-menu > a .profile-info {
            font-size: 15px;
            margin-top: 5px;
            background-color: rgba(66,133,244,.92);
        }

.main-menu li > a > .label {
    height: 20px;
    line-height: 20px;
    padding-top: 0;
}

@media (min-width: 1200px) {
    body.sw-toggled #content {
        padding-left: 230px;
    }
}

@media (max-width: 1200px) {
    body.sw-toggled #footer {
        padding-left: 0px !important;
    }
}

.main-menu li {
    box-shadow: 0 1px 0px rgba(214,216,218,.5);
    display: list-item !important;
    line-height: 1.43 !important;
    text-align: left !important;
    padding: 0;
    width: 100%;
}

#sidebar .main-menu > li > a {
    padding: 15px 15px 15px 55px;
}



/**** PROFILE - ABOUT ****/
#profile-main {
    min-height: 400px;
}

    #profile-main .pmo-pic img {
        border-radius: 50%;
        margin: 0 auto 20px;
    }

    #profile-main .pmo-pic .pmop-edit {
        cursor: pointer;
    }

    #profile-main .pmb-block .pmbb-header h2 {
        font-weight: 300;
        display: inline-block;
    }

    #profile-main .pmb-block .pmbb-header .actions {
        display: inline-block;
        position: relative;
        left: 9px;
        top: -3px;
    }

        #profile-main .pmb-block .pmbb-header .actions > li {
            height: 0;
        }

    #profile-main #prof-ba .pmbb-header .actions {
        position: absolute;
        top: -10px;
        right: 20px;
        left: initial;
    }

    #profile-main #profAbout .pmb-block .pmbb-header .actions:before {
        content: "";
        background: rgba(147,149,152,.6);
        width: 1px;
        height: 20px;
        float: left;
        margin-right: 5px;
        position: relative;
        top: 3px;
    }


#profAbout > .well {
    margin: 20px 20px 0;
    padding: 15px;
}

    #profAbout > .well h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 300;
    }

.pmo-stat > .col-xs-6 {
    float: none;
    display: inline-block;
    width: 49%;
}

    .pmo-stat > .col-xs-6:first-child {
        border-right: 1px solid #eee;
    }

.pmbb-header p {
    display: block;
    text-transform: none;
    margin: 8px 0 20px 30px;
    line-height: 140%;
}

.pmbb-header ul {
    margin: 8px 0 10px 20px;
}

.dl-horizontal dd {
    font-weight: 300;
}

.dl-horizontal .label + i {
    position: relative;
    top: 3px;
    font-size: 16px;
}

.dl-horizontal dt > small {
    font-size: 12px;
    display: block;
    font-weight: 400;
    letter-spacing: .2px;
}

#profileMain .pmbb-body button.btn-icon {
    text-transform: none;
    cursor: default;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}

#profileMain .socialContainer dd a,
#profileMain .socialContainer dd span {
    position: relative;
    top: 5px;
}

.bootstrap-datetimepicker-widget {
    top: -25px !important;
    z-index: 9999 !important;
    background: #fff;
    min-height: 250px;
}

    .bootstrap-datetimepicker-widget > * > li {
        list-style-type: none;
    }

.socialContainer dl > dt {
    max-width: 60px;
}

.socialContainer > .dl-horizontal dd {
    margin-left: 80px;
}


#profile-pw .nav-tabs > li > a:after {
    background: #2196f3;
    content: "";
    height: 2px;
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

#profile-pw .nav-tabs > li.active > a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 140px;
    }

    #profile-pw .dl-horizontal dt {
        width: 175px;
    }

    #profile-pw .dl-horizontal dd {
        margin-left: 196px;
    }

    .bootstrap-datetimepicker-widget {
        top: -55px !important;
    }

    #profile-main .pmo-pic img {
        box-shadow: 0 10px 18px -3px rgba(32,33,34,.35);
        width: 80%;
        margin: 0 auto 25px;
    }
}

/** PROFILE - VERIFY ID MDOAL & Wizard**/
#idVerWiz .content {
    min-height: 20em;
    height: 27em;
    box-shadow: 0 7px 20px -9px rgba(64,65,66,.45);
    overflow: visible;
}

    #idVerWiz .content .body {
        text-align: center;
    }

#idVerWiz > .steps > ul > li {
    width: 32%;
}

#idVerWiz > .steps .current a {
    font-size: 15px;
    padding: 13px 15px;
}

#idVerWiz .form-group {
    margin-bottom: 20px;
    -webkit-transition: .25s all ease-in-out;
    transition: .25s all ease-in-out;
}

    #idVerWiz .form-group.has-error {
        margin-bottom: 2px;
    }

    #idVerWiz .form-group input + i {
        position: absolute;
        right: 1%;
        bottom: 9px;
        font-size: 18px;
    }

.form-group .help-block {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .2px;
    margin-bottom: 0px;
}

.modal dl {
    margin-bottom: 12px;
}

#idVerWiz input#idVer-name {
    text-transform: capitalize;
}

#idVerWiz .input-group .input-group-addon i {
    position: relative;
    top: -5px;
}

#idVerWiz input#idVer-ssn {
    padding-left: 92px;
    letter-spacing: 1px;
}

#idVerWiz #ssnPrefix {
    position: absolute;
    left: 5px;
    bottom: 7px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .75px;
}

#idVerWiz .actions {
    font-size: 16px;
    margin-top: 25px;
}

#idVerWiz .fileinput .fileinput-preview {
    width: 180px;
    height: auto;
}

    #idVerWiz .fileinput .fileinput-preview img {
        margin-top: -5px;
    }

.fileinput .file-drop-zone-title {
    font-size: 26px;
    padding: 65px 10px;
    text-transform: uppercase;
}


.has-success .form-control,
.has-success .fg-line:after {
    border-color: #72bf44;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    background: #dd1e00;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio, .has-error .checkbox,
.has-error .radio-inline, .has-error .checkbox-inline {
    color: #dd1e00;
}

.wizard .actions {
    font-size: 16px;
    margin-top: 25px;
}

    .wizard .actions li:not(.disabled) a[href="#previous"] {
        background-color: #ffffff;
        border: 1px solid #bbb;
        color: #313233;
    }

.bootstrap-datetimepicker-widget table thead .fa {
    color: #3fabe1;
    font-size: 19px;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999 !important;
    background: #fff;
    min-height: 250px;
}

    .bootstrap-datetimepicker-widget > * > li {
        list-style-type: none;
    }

.dl-horizontal .form-group.withIcon > i {
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 99;
    font-size: 18px;
}

.dl-horizontal .form-group.withIcon .form-control {
    padding-left: 29px;
    letter-spacing: .3px;
}

#dobGrp .form-group .fg-line {
    position: static;
}

.wizard .bootstrap-datetimepicker-widget.dropdown-menu:before,
.wizard .bootstrap-datetimepicker-widget.dropdown-menu:after {
    content: none;
}

.bootstrap-datetimepicker-widget {
    overflow: hidden;
}

/****************************
/****   MOBILE SCREENS   ****
 ****************************/
@media (max-width: 767px) {
    .modal .modal-body {
        padding: 0 3px 10px;
    }

    #idVer .wizard .content {
        min-height: 35em;
    }

    .bootstrap-datetimepicker-widget table td span {
        font-weight: 600;
    }

    #idVerWiz #ssnPrefix {
        left: 7px;
        bottom: 8px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    #idVerWiz .content > section:nth-child(2):after {
        content: "* And comply with the USA Patriot Act. Imagine how bad we'd look if terrorists used Nooch. So we take it pretty seriously.";
        color: rgba(88,90,92,0.95);
        display: block;
        position: absolute;
        bottom: -10px;
        font-size: 12.5px;
        letter-spacing: .5px;
        font-weight: 300;
        width: 80%;
        left: 10%;
    }

    #idVerWiz .well .ast > span {
        font-size: 92%;
        font-weight: 300;
        position: relative: top: -1px;
        left: 1px;
        opacity: 0.85;
    }

    .bootstrap-datetimepicker-widget {
        top: -15px !important;
    }

    /**** Property Details ****/
    .propDetails_UnitsTenants .propDetailsStatBadge {
        margin-top: 10px;
    }
}


/******************************
/*** TABLET & ABOVE SCREENS ***
 ******************************/
@media (min-width: 768px) {
    #profileMain .pmbb-body .dl-horizontal dt {
        overflow: visible;
    }

        #profileMain .pmbb-body .dl-horizontal dt > i {
            font-size: 18px;
            line-height: 1.1;
            position: relative;
            top: -2px;
        }

    .dl-horizontal dd {
        margin-left: 160px;
    }

    .form-group .help-block {
        font-size: 14px;
    }

    #idVerWiz .content .body {
        padding: 15px 25px;
    }

    .popover {
        min-width: 200px;
    }

    .login-content .form-group {
        margin-bottom: 20px;
    }

    .login-content .fg-float .fg-toggled + .fg-label {
        top: -20px;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: .3px;
    }

    .popover.tour-newLandlordUserTour {
        border-radius: 6px;
    }

        .popover.tour-newLandlordUserTour .popover-title {
            font-size: 17px;
            padding: 15px 15px 8px;
        }

        .popover.tour-newLandlordUserTour .popover-content {
            font-size: 15px;
            padding: 0 15px 15px;
        }

        .popover.tour-newLandlordUserTour .btn-sm {
            font-size: 13px;
            padding: 8px 10px;
        }

    .modal#bankAdd .modal-body {
        padding: 0 35px 10px;
    }

    #addUnitForm #nicknameGrp {
        padding-left: 0;
    }
}


/**** PROFILE - BANKS ****/
.jumbotron div i.md-6x {
    background-color: #ffffff;
    cursor: pointer;
    -webkit-transition: .4s all ease-out;
    transition: .25s all ease-out;
}

    .jumbotron div i.md-6x:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
        margin-top: -2px;
    }

        .jumbotron div i.md-6x:hover #addBnkBtn {
            background-color: rgba(0, 0, 0, 0.2) !important;
            margin-top: 12px;
        }

    .jumbotron div i.md-6x:active {
        background-color: rgba(63, 171, 225, 0.15) !important;
        margin-top: 2px;
    }


.bank-container .media {
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.bank-container .media-object {
    max-width: 90px;
    border-radius: 10px;
}

.bank-container .media-heading {
    font-size: 15.5px;
    margin-bottom: 10px;
    padding-top: 8px;
}

    .bank-container .media-heading .label {
        font-size: 11.25px;
        font-weight: 400;
        position: relative;
        top: -2px;
    }

    .bank-container .media-heading .label-default {
        opacity: .7;
    }

.bank-container .collapse .card-header,
.bank-container .collapsing .card-header {
    padding: 20px 26px;
}

.bank-container #bankform1 form > .form-group {
    margin-bottom: 15px;
}

.bank-container #bankform1 label {
    padding-left: 5px;
}

#bankAdd .modal-dialog {
    max-width: 560px;
}

#bankAdd iframe {
    border: none;
    display: block;
    height: 660px;
    margin: 0 auto;
    width: 100%;
}

.addBank-container {
    height: 999px !important;
}

.mini-charts-item .count > span {
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
}

/**** PROFILE - NOTIFICATIONS ****/
#notif-tog-container label {
    font-weight: normal;
}

#notif-tog-container .row > *:not(:first-child) {
    text-align: center;
}

/**** PROPERTIES - ALL ****/
.propCard .closeFloat {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: rgba(244, 67, 54, .6);
    opacity: .94;
    z-index: 99;
}

    .propCard .closeFloat:hover {
        opacity: .98;
        background-color: rgba(244, 67, 54, .9);
    }

.propCard .pv-header {
    height: 120px;
}

.propCard .pv-body {
    margin-top: 80px;
}

.propCard .pv-header > .pv-main {
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto !important;
    left: 0;
    width: 61.9%;
    height: auto;
    min-height: 155px;
    top: 30px;
    box-shadow: 0 8px 15px -4px rgba(31,32,33, 0.25);
    position: relative;
}

    .propCard .pv-header > .pv-main > img {
        border-radius: 80px;
        cursor: pointer;
        width: auto;
        height: 155px;
        position: absolute;
        top: 0;
        left: 0;
    }

#propertiesList.lv-lg .lv-title {
    font-size: 16px;
}

#propertiesList.lv-lg .lv-small {
    font-size: 13px;
}

.profile-view .pv-body > h2 {
    line-height: 1.4;
    height: 50px;
}

table .btn-icon .md {
    font-size: 17px;
    top: 8.5px;
    position: relative;
    color: #444;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

table .btn-icon:hover .md {
    color: #3fabe1;
}

/** For the Wizard Plugin **/
.wizard, .tabcontrol {
    top: -15px;
}

addPropWiz .content {
    min-height: 22em;
}

.actions > ul > li > a {
    border-radius: 4px;
}

.actions > ul > li:last-child > a {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

    .actions > ul > li:last-child > a:hover {
        background-color: #f7f7f7;
        color: initial;
    }

.wizard .content .control-label,
.wizard .content input,
#addPropWizard .tab-content input,
#addPropWizard .tab-content .control-label {
    font-size: 16px;
}

.wizard.vertical > .actions {
    margin-top: 15px;
}

    .wizard.vertical > .actions > ul > li:last-child {
        position: absolute;
        left: 28%;
    }

    .wizard.vertical > .actions > ul > li:not(:last-child) {
        position: relative;
    }

.wizard .fg-float .fg-label,
#addPropWizard .tab-content .fg-float .fg-label {
    font-size: 15px;
    padding-left: 4px;
    top: 7px;
}

.wizard .fg-float .fg-toggled + .fg-label,
#addPropWizard .tab-content .fg-float .fg-toggled + .fg-label {
    font-size: 11px;
    top: -18px;
}

#addPropWizard .tab-content {
    min-height: 250px;
}

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs {
    float: left;
    border-right: 1px solid #ddd;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom: 0;
}

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
    }

    .tabs-left > .nav-tabs > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
    }

.pager li .btn {
    border: 0;
    border-radius: 0;
    color: #444;
    padding: 11px 20px;
}

#addPropWizard .pager {
    margin-top: 25px;
}

.pager li > .btn-primary,
.pager li > .btn-primary:hover {
    color: #fff !important;
    background-color: #2196f3 !important;
}

#addPropWizard #tab4 {
    overflow: hidden;
}

#singleOrMulti > div.container {
    background: #2196f3;
    border-radius: 3px;
    border: 1px solid #149bdf;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 16px;
    left: 0;
    margin-bottom: 4px;
    text-shadow: 0 -2px 2px rgba(32,33,34,.3);
    -webkit-transition: margin-top .16s, margin-bottom .16s, box-shadow .16s, margin-left .75s ease-out, width .75s;
    transition: margin-top .16s, margin-bottom .16s, box-shadow .16s, margin-left .75s ease-out, width .75s;
    overflow: hidden;
    width: 41.66666%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

    #singleOrMulti > div.container:active {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22);
        margin-top: 4px;
        margin-bottom: 0px;
        z-index: 9;
    }

#singleOrMulti > #or {
    -webkit-transition: margin-left .6s ease-in .3s;
    transition: margin-left .6s ease-in .3s;
    z-index: 8;
}

#singleOrMulti > div:not(#addUnitContainer) p {
    font-size: 18px;
    text-shadow: 0 1px 0px rgba(32,33,34,.3);
}

#singleOrMulti > span {
    position: relative;
    top: 45px;
}

    #singleOrMulti > span > span {
        padding: 7px;
        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;
        border-top: 1px solid rgba(31,32,33,.2);
        border-bottom: 1px solid rgba(31,32,33,.2);
    }

#addUnitContainer {
    float: left;
    font-size: 15.5px;
    margin-left: 2%;
    width: 70%;
}

.dollar:before {
    content: "$";
    color: #4caf50 !important;
    font-weight: 600;
    font-size: 19px;
    height: 0;
    position: absolute;
    left: -14px;
    top: 6px;
}

#singleUnit-rentAmountBlock .dollar:before {
    font-size: 26px;
    left: -20px;
    top: 0px;
}

.wizard #singleUnit-rentAmountBlock .fg-float .fg-label {
    font-size: 20px;
}

.wizard #singleUnit-rentAmountBlock .fg-float .fg-toggled + .fg-label {
    font-size: 15px;
    top: -19px;
}

/*
.progress {
  height: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top,#f5f5f5,#f9f9f9);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f9f9f9);
  background-image: -o-linear-gradient(top,#f5f5f5,#f9f9f9);
  background-image: linear-gradient(to bottom,#f5f5f5,#f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 11px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top,#149bdf,#0480be);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#149bdf),to(#0480be));
  background-image: -webkit-linear-gradient(top,#149bdf,#0480be);
  background-image: -o-linear-gradient(top,#149bdf,#0480be);
  background-image: linear-gradient(to bottom,#149bdf,#0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width .6s ease;
  -moz-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-striped .bar {
  background-color: #3fabe1;
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
@-webkit-keyframes progress-bar-stripes{
  from{background-position:40px 0}to{background-position:0 0}
}
@-moz-keyframes progress-bar-stripes{
  from{background-position:40px 0}to{background-position:0 0}
}
@-ms-keyframes progress-bar-stripes{
  from{background-position:40px 0}to{background-position:0 0}
}
@keyframes progress-bar-stripes{
  from{background-position:40px 0}to{background-position:0 0}
}
.progress-danger.progress-striped .bar,
.progress-striped .bar-danger{background-color:#ee5f5b;background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:-moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent)}
.progress-success .bar,
.progress .bar-success{background-color:#5eb95e;background-image:-moz-linear-gradient(top,#62c462,#57a957);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#57a957));background-image:-webkit-linear-gradient(top,#62c462,#57a957);background-image:-o-linear-gradient(top,#62c462,#57a957);background-image:linear-gradient(to bottom,#62c462,#57a957);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff57a957',GradientType=0)}
.progress-success.progress-striped .bar,
.progress-striped .bar-success{background-color:#62c462;background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:-moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent)}
.progress-info .bar,
.progress .bar-info{background-color:#4bb1cf;background-image:-moz-linear-gradient(top,#5bc0de,#339bb9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#339bb9));background-image:-webkit-linear-gradient(top,#5bc0de,#339bb9);background-image:-o-linear-gradient(top,#5bc0de,#339bb9);background-image:linear-gradient(to bottom,#5bc0de,#339bb9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff339bb9',GradientType=0)}
.progress-info.progress-striped .bar,
.progress-striped .bar-info{background-color:#5bc0de;background-image:-webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:-moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent)}
*/
/**** PROPERTY DETAILS ****/
.propDetails_UnitsTenants {
    text-align: right;
}

    .propDetails_UnitsTenants .headline {
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        text-align: right;
        position: relative;
        top: -3px;
    }

    .propDetails_UnitsTenants .value {
        color: #fff;
        font-size: 1.8em;
        font-weight: 500;
        margin-top: -8px;
        display: block;
        text-align: right;
    }

    .propDetails_UnitsTenants .propDetailsStatBadge > div:not(.popover) {
        padding: 12px 15px 5px;
    }

    .propDetails_UnitsTenants i {
        background-color: white;
        background-clip: padding-box;
        border-radius: 50%;
        float: left;
        font-size: 20px;
        display: block;
        float: left;
        margin-right: 1px;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
    }

.form-horizontal .form-group textarea {
    padding-top: 7px;
}

.propCard .pmbb-edit {
    font-size: 15px;
    margin-top: 80px;
}

    .propCard .pmbb-edit dt {
        padding-left: 5px;
    }

.file-caption-name {
    padding-top: 5px;
}

.file-input .btn > i {
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid rgba(147,150,152,.6) !important;
    border-radius: 6px;
    box-shadow: 0 2px 8px -4px rgba(88,90,92,.5) !important;
    padding: 3px 10px;
    font-weight: 500;
}

.table.dataTable > thead:first-child > tr:first-child > th {
    text-align: center;
}

@media screen and (min-width:768px) {
    .propDetails_UnitsTenants .propDetailsStatBadge > div:not(.popover) {
        padding: 14px 16px 6px;
    }

    .propDetails_UnitsTenants .headline {
        font-size: 14.5px;
        top: -4px;
    }

    .propDetails_UnitsTenants i {
        font-size: 26px;
        margin-right: 10px;
        width: 39px;
        height: 39px;
        line-height: 39px;
    }
}

.propInfoSidebar .card .card-header {
    padding: 20px 25px;
}

.propInfoSidebar .propCard .pv-main {
    margin: 0px auto;
    width: 70%;
    position: relative;
    top: 22px;
    left: 0;
}

.propInfoSidebar .propCard .address {
    list-style-type: none;
    text-align: left;
}

    .propInfoSidebar .propCard .address li {
        margin-bottom: 5px;
    }

        .propInfoSidebar .propCard .address li i {
            position: relative;
            left: -5px;
        }

        .propInfoSidebar .propCard .address li.address2 {
            padding-left: 19px;
            position: relative;
            top: -3px;
        }

.propInfoSidebar .bank-container .media-object {
    border-radius: 8px;
    max-width: 100px;
    margin: 0 auto 5px;
}

#chargeTenantForm .toggle-switch label {
    top: 10px;
}

#chargeTenantForm .toggle-switch span:first-child {
    margin-right: 15px;
    position: relative;
    top: 8px;
}

#chargeTenantForm .toggle-switch span:last-child {
    margin-left: 15px;
    position: relative;
    top: 8px;
}

#editPropPic .fileinput .fileinput-preview {
    width: initial;
    max-width: 540px;
    height: auto;
    position: relative;
}

.file-input .file-preview-frame {
    float: none;
    margin: 8px auto;
}

.file-input {
    overflow: visible;
    overflow-x: hidden;
}


form.form-lg .form-control,
form.form-lg .control-label {
    font-size: 16px;
}

form.form-lg .form-group {
    margin-bottom: 40px;
}

.bootstrap-select .dropdown-toggle {
    font-size: 16px;
    padding: 11px 4px !important;
    text-transform: none;
}

.dropdown-menu {
    font-size: 15px;
}

table tbody .unitInTable {
    border: 1px solid rgba(88,90,92,.3);
    border-radius: 50%;
    padding: 12px;
    background-color: rgba(108,110,112,.1);
    box-shadow: 0 3px 12px -2px rgba(32,33,34,.2);
    margin-right: 8px;
}

@media screen and (min-width:768px) {
    .container .jumbotron {
        padding: 35px 45px;
    }

    #profile-main .pm-overview {
        max-width: 250px !important;
    }

    #profile-main .pm-body {
        padding-left: 250px;
    }

    #addPropWizard .pager {
        margin-left: 8.3333%;
    }
}


.sweet-overlay {
    background: rgba(10, 10, 10, 0.6);
}

.sweet-alert {
    font-family: Helvetica, "Roboto", "Open Sans", Arial, sans-serif;
    padding-bottom: 10px;
    border-radius: 26px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2), 0 14px 28px rgba(10, 10, 10, 0.4);
}


    .sweet-alert button {
        font-size: 16px;
        font-weight: 400;
        padding: 9px 12px;
        margin: 26px 6px 0;
    }

    .sweet-alert h2 {
        font-family: "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif !important;
        color: #212121;
        margin: 20px 0 15px;
        font-size: 25px;
        line-height: 1.5;
    }

    .sweet-alert p {
        display: block;
        text-align: center;
        color: #212121;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.4;
        margin: 20px 0;
    }

    .sweet-alert.smallText p {
        font-size: 16.5px;
    }

    .sweet-alert.largeText p {
        font-size: 18px;
    }

    .sweet-alert ul > li {
        margin-bottom: 5px;
    }

    .sweet-alert button {
        box-shadow: none !important;
        background: none !important;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 16px;
        position: relative;
        margin-top: 0;
    }

        .sweet-alert button:hover, .sweet-alert button:focus {
            background-color: #f6f6f6 !important;
        }

        .sweet-alert button.confirm {
            color: #3fabe1;
            float: right;
        }

        .sweet-alert button.cancel {
            color: rgb(188,190,192);
            float: left;
        }

            .sweet-alert button.cancel:focus {
                box-shadow: none !important;
            }

    .sweet-alert .sa-icon:not(.sa-custom) {
        transform: scale(0.8);
        margin-bottom: -10px;
        margin-top: -10px;
    }

    .sweet-alert.show-input .sa-button-container {
        margin-top: 15px;
    }

    .sweet-alert input {
        border-radius: 20px;
        color: #212121;
        box-shadow: none;
        margin: 10px 0 25px;
        border-color: #50b2e4;
        text-align: center;
    }

        .sweet-alert input:focus {
            border-color: #2ea4de;
            box-shadow: 0 4px 25px -10px rgba(12,57,79,.4) !important;
        }

    .sweet-alert .sa-error-container {
        margin-left: -30px;
        margin-right: -30px;
    }

        .sweet-alert .sa-error-container.show {
            padding: 0 10px;
            max-height: 60px;
        }

        .sweet-alert .sa-error-container .icon {
            width: 20px;
            height: 20px;
            font-size: 16px;
            font-weight: 600;
            line-height: 21px;
            margin-right: 10px;
        }

        .sweet-alert .sa-error-container p {
            font-size: 16px;
            margin: 12px 0;
        }

    .sweet-alert fieldset {
        padding: 0;
    }

        .sweet-alert fieldset .sa-input-error {
            display: none;
        }

.securityAlert p {
    font-size: 15.5px;
    line-height: 1.35;
    margin: 0 0 .9em;
}

.securityAlert ul {
    font-size: 15.5px;
    line-height: 1.35;
    text-align: left;
}

.securityAlert .sa-icon.sa-custom {
    margin: 0 auto;
}

.securityAlert h2 {
    margin: 20px auto 10px;
}

.sweet-alert ul .fa-li.fa-check {
    color: #72bf44;
}

.idVerSuccessAlert h2 {
    margin-top: 18px;
}

.idVerSuccessAlert p {
    font-size: 16.5px;
}

    .idVerSuccessAlert p i {
        font-size: 52px;
        margin: -15px 0 10px;
    }

    .idVerSuccessAlert p span {
        display: block;
        margin: 15px auto 10px;
    }

        .idVerSuccessAlert p span.spanlist {
            font-weight: 600;
            line-height: 1.5;
            margin-top: 0;
        }

.idVerSuccessAlert .spanlist > span {
    margin: 5px auto;
}

.idVerSuccessAlert button.confirm {
    float: none;
    font-size: 17.5px;
    letter-spacing: .25px;
    margin: 0;
    width: 100%;
    -webkit-transition: all 120ms ease-out;
    -moz-transition: all 120ms ease-out;
    -o-transition: all 120ms ease-out;
    -ms-transition: all 120ms ease-out;
    transition: all 120ms ease-out;
}

.idVerSuccessAlert button:active {
    margin: 3px 0 -3px;
}

.idVerSuccessAlert button.confirm:after {
    content: "\f3f4";
    font-family: 'MaterialDesignIcons';
    font-size: 20px;
    margin-left: 6px;
    position: relative;
    top: 1px;
}

@media only screen and (max-width: 767px) {
    .sweet-alert.securityAlert h2 {
        margin: 15px 0 10px;
        font-size: 21px;
        line-height: 1.2;
    }

    .sweet-alert.securityAlert ul {
        padding-left: 20px;
    }

    .sweet-alert {
        top: 33%;
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .sweet-alert {
        padding-top: 45px;
        padding-bottom: 14px;
        border-radius: 30px;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
    }

    .securityAlert p {
        font-size: 16px;
        line-height: 1.4;
        margin: 0 0 1em;
    }

    .securityAlert ul {
        font-size: 16px;
        line-height: 1.4;
    }

    .sweet-alert ul > li {
        margin-top: .25em;
    }
}


/**** ANIMATIONS ****/
.animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

@media (min-width: 1100px) {
    @-webkit-keyframes fadeInRightSm {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInRightSm {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    .fadeInRightSm {
        -webkit-animation-name: fadeInRightSm;
        animation-name: fadeInRightSm;
    }

    @-webkit-keyframes fadeInUpSm {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 12%, 0);
            transform: translate3d(0, 12%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInUpSm {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 12%, 0);
            transform: translate3d(0, 12%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    .fadeInUpSm {
        -webkit-animation-name: fadeInUpSm;
        animation-name: fadeInUpSm;
    }

    @-webkit-keyframes slideInUp {
        from {
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideInUp {
        from {
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
    }
}
