body {font-size:14px;}
.form-control {font-size:14px;}
.divider {
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.08);
 }
 .btn-lg > i {line-height: inherit;}
 .md-6x {font-size: 6em;}
 .pmo-stat > .col-xs-6 {
   float:none;
   display:inline-block;
   width:49%;
 }
 .modal-header .modalclose {
  position: absolute;
  right: 5%;
  top: 10px;
}
 
 .pmo-stat > .col-xs-6:first-child {
   border-right: 1px solid #eee;
   padding: 5px 0;
 }
 
 .pmbb-header  p {
  display: block;
  text-transform: none;
  margin: 8px 0 20px 30px;
  color: #808080;
  line-height: 140%;
}

.bank-container .media {
  margin-bottom:40px;
}
.bank-container .media-object {
  max-width: 70px;
}

#bankAdd iframe {
  border: none;
  display: block;
  height: 560px;
  margin: 0 auto;
  width: 96%;
}

.addBank-container {height:999px !important;}

.mini-charts-item .count > span {
  display: block;
  font-size:13px;
  margin-bottom:3px;
}

#notif-tog-container label {font-weight:normal;}
#notif-tog-container .row  > *:nth-child(2), 
#notif-tog-container .row  > *:nth-child(3) {
  text-align:center;
}

#propertiesList.lv-lg .lv-title {font-size:16px;}
#propertiesList.lv-lg .lv-small {font-size:13px;}

 @media screen and (min-width:768px) {
	.pm-body .jumbotron {
		padding: 35px 45px;
	}

	#profile-main .pm-overview {max-width:250px !important;}
	#profile-main .pm-body {padding-left:250px;}
}