<div class="container">
    <div class="block-header">
        <h2>Widgets</h2>

        <ul class="actions">
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="col-sm-4">

        <!-- Tasks -->
        <div class="card">
            <div class="listview">
                <div class="lv-header">
                    Tasks
                </div>
                <div class="lv-body">
                    <div class="lv-item">
                        <div class="lv-title m-b-5">HTML5 Validation Report</div>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <span class="sr-only">95% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                    <div class="lv-item">
                        <div class="lv-title m-b-5">Google Chrome Extension</div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                    <div class="lv-item">
                        <div class="lv-title m-b-5">Social Intranet Projects</div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="lv-item">
                        <div class="lv-title m-b-5">Bootstrap Admin Template</div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                    <div class="lv-item">
                        <div class="lv-title m-b-5">Youtube Client App</div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="lv-footer" href="">View All</a>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        <!-- Social -->
        <div class="card go-social">
            <div class="card-header">
                <h2>Social with us <small>Nunc sit amet dapibus tellus</small></h2>
            </div>

            <div class="card-body clearfix">
                <a class="col-xs-4" href="">
                    <img src="img/social/facebook-128.png" class="img-responsive" alt="">
                </a>

                <a class="col-xs-4" href="">
                    <img src="img/social/twitter-128.png" class="img-responsive" alt="">
                </a>

                <a class="col-xs-4" href="">
                    <img src="img/social/googleplus-128.png" class="img-responsive" alt="">
                </a>

                <a class="col-xs-4" href="">
                    <img src="img/social/linkedin-128.png" class="img-responsive" alt="">
                </a>

                <a class="col-xs-4" href="">
                    <img src="img/social/youtube-128.png" class="img-responsive" alt="">
                </a>

                <a class="col-xs-4" href="">
                    <img src="img/social/blogger-128.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>

    </div>   

    <div class="col-sm-4">
        <!-- Form -->
        <div class="card">
            <div class="card-header ch-alt">
                <h2>Sample Form <small>Pellentesque ac lectus sed elit dictum vehicula</small></h2>
            </div>

            <div class="card-body card-padding">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="email" class="form-control">
                    </div>
                    <label class="fg-label">Name</label>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="email" class="form-control">
                    </div>
                    <label class="fg-label">Email address</label>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        <input type="email" class="form-control">
                    </div>
                    <label class="fg-label">Contact Number</label>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        <textarea class="form-control auto-size"></textarea>
                    </div>
                    <label class="fg-label">Message</label>
                </div>

                <button class="btn btn-info">Submit</button>
                <button class="btn btn-link">Cancel</button>
            </div>
        </div>
    </div>
              
</div>