<div class="pmb-block animated fadeIn">

    <div class="pmbb-header">

        <h2><i class="md md-notifications m-r-5"></i> Manage Your Notification Settings</h2>

        <p>Tells us when you would like to receive certain notifications by toggling the options below.</p>

    </div>

    <div class="pmbb-body p-l-30 m-t-20" id="notif-tog-container">

        <div class="row m-b-15">
            <span class="col-xs-4 f-500 c-black">Payments</span>
            <span class="col-xs-4 col-sm-2 f-500 c-black" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="We'll send email messages to {{ userInfo.emailAddress }}" title="" data-original-title="Email notifications"><i class="md md-email"></i></span>
            <span class="col-xs-4 col-sm-2 f-500 c-black" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="We'll send SMS text messages to {{ userInfo.mobileNumber }}" title="" data-original-title="SMS notifications"><i class="md md-phone-iphone"></i></span>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="payment1a" class="ts-label">Payment Received</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="green">
                    <input id="payment1a" type="checkbox" hidden="hidden" checked="checked">
                    <label for="payment1a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="green">
                    <input id="payment1b" type="checkbox" hidden="hidden" checked="checked">
                    <label for="payment1b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="payment2a" class="ts-label">Payment Received</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="green">
                    <input id="payment2a" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="payment2a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="green">
                    <input id="payment2b" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="payment2b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="payment3a" class="ts-label">Payment Failed</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="green">
                    <input id="payment3a" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="payment3a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="green">
                    <input id="payment3b" type="checkbox" hidden="hidden" checked="checked">
                    <label for="payment3b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <br />

        <div class="row m-b-15">
            <span class="col-xs-4 f-500 c-black">Account Updates</span>
            <span class="col-xs-4 col-sm-2 f-500 c-black" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="We'll send email messages to {{ userInfo.emailAddress }}" title="" data-original-title="Email notifications"><i class="md md-email"></i></span>
            <span class="col-xs-4 col-sm-2 f-500 c-black" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="We'll send SMS text messages to {{ userInfo.mobileNumber }}" title="" data-original-title="SMS notifications"><i class="md md-phone-iphone"></i></span>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="acnt1a" class="ts-label">Account Suspended</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="This cannot be changed." title="" data-original-title="Sorry!">
                <div class="toggle-switch disabled" data-ts-color="blue">
                    <input id="acnt1a" type="checkbox" hidden="hidden" checked="checked" disabled/>
                    <label for="acnt1a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="blue">
                    <input id="acnt1b" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="acnt1b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="acnt2a" class="ts-label">Password Changed</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="blue">
                    <input id="acnt2a" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="acnt2a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="blue">
                    <input id="acnt2b" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="acnt2b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="acnt3a" class="ts-label">Bank Account Added</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="blue">
                    <input id="acnt3a" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="acnt3a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="blue">
                    <input id="acnt3b" type="checkbox" hidden="hidden" checked="checked" />
                    <label for="acnt3b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <br />

        <!--<div class="row m-b-15">
            <span class="col-xs-4 f-500 c-black">Miscellaneous</span>
            <span class="col-xs-4 col-sm-2 f-500 c-black"><i class="md md-email"></i></span>
            <span class="col-xs-4 col-sm-2 f-500 c-black"><i class="md md-phone-iphone"></i></span>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="misc1a" class="ts-label">And Yet There's More</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="amber">
                    <input id="misc1a" type="checkbox" hidden="hidden" checked="checked">
                    <label for="misc1a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="amber">
                    <input id="misc1b" type="checkbox" hidden="hidden" checked="checked">
                    <label for="misc1b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="misc2a" class="ts-label">Something Else</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="amber">
                    <input id="misc2a" type="checkbox" hidden="hidden" checked="checked">
                    <label for="misc2a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="amber">
                    <input id="misc2b" type="checkbox" hidden="hidden" checked="checked">
                    <label for="misc2b" class="ts-helper"></label>
                </div>
            </div>
        </div>

        <div class="row m-b-20">
            <div class="col-xs-4">
                <div class="toggle-switch">
                    <label for="misc3a" class="ts-label">Another Thing</label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="amber">
                    <input id="misc3a" type="checkbox" hidden="hidden" checked="checked">
                    <label for="misc3a" class="ts-helper"></label>
                </div>
            </div>

            <div class="col-xs-4 col-sm-2">
                <div class="toggle-switch" data-ts-color="amber">
                    <input id="misc3b" type="checkbox" hidden="hidden" checked="checked">
                    <label for="misc3b" class="ts-helper"></label>
                </div>
            </div>
        </div>-->
    </div>

</div>