<div data-ng-controller="banksCtrl as bctrl">

    <div class="jumbotron" data-ng-if="bctrl.bankCount === 2 || bctrl.bankCount === nil">
        <h2>Welcome Aboard!</h2>
        <p>Connect any checking account so we know where to send you payments.  No routing or account number needed.</p>
        <div class="m-15 p-r-10 text-center">
            <div class="m-b-20" data-toggle="modal" data-target="#bankAdd"><i class="md-account-balance md-6x md-border-circle bgm-white" style="cursor:pointer"></i></div>
            <button data-ng-click="bctrl.addBank()" class="btn btn-lg btn-success btn-icon-text waves-effect">&nbsp;<i class="md-add-circle m-r-5"></i> Add A Bank&nbsp;</button>
        </div>
    </div>

    <div class="pmb-block p-t-25" data-ng-if="bctrl.bankCount > 0">

        <div class="pmbb-header">

            <h2><i class="md md-account-balance m-r-5"></i> Manage Your {{bctrl.bankCount}} Bank Account<span data-ng-if="bctrl.bankCount > 1">s</span></h2>

            <p>Below are the accounts you have already added to Nooch.</p>

            <ul class="actions">
                <li class="">
                    <button data-toggle="modal" data-target="#bankFaq" class="btn btn-default btn-icon waves-effect"><span class="">?</span></button>
                </li>
            </ul>

        </div>

        <div class="pmbb-body p-l-30 m-t-20">

            <div class="bank-container">

                <div class="media" data-ng-repeat="bank in bctrl.bankList.banks">

                    <div class="pull-left">
                        <img class="media-object" src="img/bank-icons/{{bank.logo}}">
                    </div>

                    <div class="media-body">

                        <div class="col-xs-10" data-toggle="collapse" data-target="#bankform{{$index}}" aria-expanded="false" aria-controls="bankform{{$index}}">
                            <h4 class="media-heading">
                                {{bank.name}}
                                <span class="label label-primary m-l-15" data-ng-if="bank.primary === 1 && bank.deleted === 0">Primary</span>
                                <span class="label label-default m-l-15 f-300" data-ng-if="bctrl.bankCount > 0 && bank.primary === 0 && bank.deleted === 0">Make Primary</span>
                            </h4>
                            {{bank.nickname}} - {{bank.last4}}
                            <p class="bank-status">Pending</p>
                        </div>

                        <div class="col-xs-2">
                            <ul class="actions">
                                <li>
                                    <a data-toggle="collapse" data-target="#bankform{{$index}}" aria-expanded="false" aria-controls="bankform{{$index}}">
                                        <i class="md md-expand-more"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-swal-params>
                                        <i class="md md-close"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="m-t-10 collapse z-depth-1" id="bankform{{$index}}" aria-expanded="false">

                        <div class="card">

                            <div class="card-header ch-alt">
                                <h2>Bank Status</h2>
                            </div>

                            <div class="card-body card-padding">

                                <!-- Form -->
                                <form role="form">

                                    <div class="form-group fg-line">
                                        <label for="nameOnAcnt" class="fg-label">Name on Account</label>
                                        <input type="text" id="nameOnAcnt" class="form-control" value="{{ pctrl.firstName }} {{pctrl.lastName}}">
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="bankName" class="fg-label">Bank Name</label>
                                        <input type="text" id="bankName" class="form-control" value="{{bank.name}}" disabled>
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="dateAdded" class="fg-label">Date Added</label>
                                        <input type="text" id="dateAdded" class="form-control" value="{{bank.dateAdded}}" disabled>
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="status" class="fg-label">Status</label>
                                        <input type="text" id="status" class="form-control" value="{{bank.status}}" disabled>
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="bankNotes" class="fg-label">Notes</label>
                                        <input type="text" id="bankNotes" class="form-control" value="{{bank.notes}}" disabled>
                                    </div>

                                    <div class="row m-0 p-t-10">
                                        <div class="pull-right">
                                            <button class="btn btn-primary">Update</button>
                                            <button class="btn btn-link m-l-15" data-toggle="collapse" data-target="#bankform{{$index}}" aria-expanded="false" aria-controls="bankform1">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Modal Bank FAQs -->
    <div class="modal fade" id="bankFaq" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Why We Ask</h4>
                </div>
                <div class="modal-body">
                    <p>Federal ‘Know Your Customer’ regulations require that we verify your personal identity before you can accept payments from your renters.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-icon-text waves-effect" data-dismiss="modal"><i class="md md-close m-r-5"></i>Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Add Bank -->
    <div class="modal fade" id="bankAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Connect Bank Account</h4>
                    <button type="button" class="btn btn-default btn-icon waves-effect modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>
                <div class="modal-body">
                <iframe src=""></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-icon-text waves-effect" data-dismiss="modal"><i class="md md-close m-r-5"></i>Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#addBankBtn").click(function () {
            swal("Here's a message!", "Lorem ipsum dolor sit amet")
        });
    </script>

</div>