<div data-ng-controller="banksCtrl as bctrl" id="prof-ba">

    <div class="jumbotron text-center m-b-0" data-ng-if="bankCount === 0">
        <h2>Start Getting Paid</h2>

        <p class="m-b-25">
            Connect any checking account so we know where to send the payments from tenants.
            <span class="f-500">No routing or account number needed.</span>
        </p>

        <div class="m-15 p-r-10 text-center">
            <div class="m-b-20" data-ng-click="bctrl.addBank()">
                <i class="md-account-balance md-6x md-border-circle z-depth-2-bottom animated bounceIn"></i>
            </div>
            <button id="addBnkBtn" data-ng-click="bctrl.addBank()" class="btn btn-lg btn-success btn-icon-text waves-effect">&nbsp;<i class="md-add-circle m-r-5"></i> Add A Bank&nbsp;</button>
        </div>
    </div>

    <div class="pmb-block" data-ng-if="bankCount > 0">

        <div class="pmbb-header">

            <h2><i class="md md-account-balance m-r-5"></i> Manage Your <span data-ng-if="bankCount > 1">{{ bankCount }} </span>Bank Account<span data-ng-if="bankCount > 1">s</span></h2>

            <p class="m-t-20 f-15">All rent payments your tenants make will be automatically deposited into the following bank account.</p>
            
            <p class="f-15">Funds are usually available within 3 business days from the time your tenant submits the payment.</p>

            <ul class="actions">
                <li class="m-r-15">
                    <button data-ng-click="bctrl.addBank()" class="btn btn-primary btn-icon waves-effect"><i class="md md-add"></i></button>
                </li>
                <li class="">
                    <button data-toggle="modal" data-target="#bankFaq" class="btn btn-default btn-icon waves-effect"><span class="">?</span></button>
                </li>
            </ul>

        </div>

        <div class="pmbb-body p-l-30 p-t-10 m-t-20">

            <div class="bank-container">

            <!--<div class="media" data-ng-repeat="bank in bctrl.bankList.banks" id="bank{{bank.id}}">-->
                <div class="media" id="bank1">

                    <div class="pull-left">
                        <img class="media-object" src="{{ bankImg }}">
                    </div>

                    <div class="media-body">

                        <div class="col-xs-10" data-toggle="collapse" data-target="#bankform1" aria-expanded="false" aria-controls="bankform1">
                            <h4 class="media-heading">
                                {{ bankName | capitalize }}
                                <span class="label m-l-15" ng-class="{ 'Verified': 'label-success', 'Not Verified': 'label-danger' }[bankStatus]">{{ bankStatus | capitalize}}</span>
                                <a class="label label-default m-l-15 f-300" id="bank1" data-bankname="{{ bankName }}" data-ng-if="bankCount > 1" data-ng-click="bctrl.makePrimary($event)">Make Primary</a>
                            </h4>
                            <span class="f-15"><em>{{ bankNickname }}</em> &nbsp;|&nbsp; {{ accntNum }}</span>
                            <p class="text-muted f-14 m-t-5">Added On: {{ bankCreatedOn }}</p>
                        </div>

                        <div class="col-xs-2">
                            <ul class="actions">
                                <li>
                                    <a data-toggle="collapse" data-target="#bankform1" aria-expanded="false" aria-controls="bankform1">
                                        <i class="md md-expand-more"></i>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="deleteBank()">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="m-t-10 collapse z-depth-1" id="bankform1" aria-expanded="false">

                        <div class="card">

                            <div class="card-header ch-alt">
                                <h2>Bank Status</h2>
                            </div>

                            <div class="card-body card-padding">

                                <form role="form">

                                    <div class="form-group fg-line">
                                        <label for="nameOnAcnt" class="fg-label">Name on Account</label>
                                        <input type="text" id="nameOnAcnt" class="form-control" value="{{ pctrl.firstName | capitalize }} {{ pctrl.lastName | capitalize }}">
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="bankName" class="fg-label">Bank Name</label>
                                        <input type="text" id="bankName" class="form-control" value="{{ bankName | capitalize }}" disabled>
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="dateAdded" class="fg-label">Date Added</label>
                                        <input type="text" id="dateAdded" class="form-control" value="{{ bankCreatedOn }}" disabled>
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="status" class="fg-label">Status</label>
                                        <input type="text" id="status" class="form-control" value="{{ bankStatus }}" disabled>
                                    </div>

                                    <div class="form-group fg-line">
                                        <label for="bankNotes" class="fg-label">Notes</label>
                                        <input type="text" id="bankNotes" class="form-control" value="" disabled>
                                    </div>

                                    <div class="row m-0 p-t-10">
                                        <div class="pull-right">
                                            <button class="btn btn-primary">Update</button>
                                            <button class="btn btn-link m-l-15" data-toggle="collapse" data-target="#bankform1" aria-expanded="false" aria-controls="bankform1">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Modal Bank FAQs -->
    <div class="modal fade" id="bankFaq" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Why We Ask</h4>
                </div>
                <div class="modal-body">
                    <p>Federal "Know Your Customer" regulations require that we verify your personal identity before you can accept payments from your renters.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-icon-text waves-effect" data-dismiss="modal"><i class="md md-close m-r-5"></i>Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Add Bank -->
    <div class="modal fade" id="bankAdd" style="overflow-y:scroll" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header p-b-0">
                    <h4 class="modal-title">Connect Bank Account</h4>
                    <button type="button" class="btn btn-default btn-icon waves-effect modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>
                <div class="modal-body">
                    <iframe src=""></iframe>
                </div>
                <div class="modal-footer p-t-5">
                    <button type="button" class="btn btn-sm btn-default btn-icon-text" data-dismiss="modal"><i class="md md-close m-r-5"></i>Close</button>
                </div>
            </div>
        </div>
    </div>

</div>