<div class="animated fadeInRightSm" id="profAbout" data-ng-controller="profileAboutCtrl as pactrl">

    <div class="well">
        <div class="m-b-15">
            <h2><i class="md md-equalizer m-r-5"></i> Account Status</h2>
        </div>
        <div class="p-l-30">
            <dl class="dl-horizontal m-b-10">
                <dt>Account Type</dt>
                <dd>{{ userInfo.type }} - {{ userInfo.subtype }}</dd>
            </dl>
            <dl class="dl-horizontal m-b-0">
                <dt>Verification Type</dt>
                <dd>
                    <a data-ng-click="runWizard()" ng-if="userInfo.isIdVerified == 0">
                        <span class="label label-danger">ID Not Verified</span>
                        <i class="md-error m-l-10 c-red"></i>
                    </a>
                    <span ng-if="userInfo.isIdVerified == 1">
                        <span class="label label-success">Identity Verified</span>
                        <i class="md-verified-user m-l-10 c-green"></i>
                    </span>
                </dd>
            </dl>
        </div>
    </div>

    <div class="pmb-block m-b-0">
        <div class="row">

            <div class="col-sm-6">

                <div class="pmbb-header m-b-15">
                    <h2>
                        <i class="md md-person m-r-5"></i> Personal Info
                        <i class="md-info c-gray f-15 m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Please enter the following information about YOU, the person creating this account." data-original-title="Basic Information"></i>
                    </h2>

                    <ul class="actions">
                        <li>
                            <a data-ng-click="pctrl.beginEditingPersonal()" class="f-13">edit</a>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body">
                    <div class="pmbb-view" data-ng-if="pctrl.editPersonalInfo === 0">
                        <dl class="dl-horizontal">
                            <dt>Full Name</dt>
                            <dd>{{ userInfo.firstName | capitalize }} {{ userInfo.lastName | capitalize }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Date of Birth</dt>
                            <dd>{{ userInfo.birthDay }}</dd>
                        </dl>
                    </div>

                    <form data-ng-submit="pctrl.submit('personalInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="pctrl.editPersonalInfo === 1">

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Full Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input id="fullName" data-ng-model="userInfo.fullName" type="text" class="form-control capitalize" value="{{ userInfo.fullName | capitalize}}" placeholder="eg Arnold Palmer">
                                </div>

                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Birthday</dt>
                            <dd>
                                <div class="dtp-container dropdown fg-line">
                                    <input data-ng-model="userInfo.birthDay" type='text' class="form-control" value="{{ userInfo.birthDay}}" data-dt-picker data-format="MM/DD/YYYY" data-toggle="dropdown" placeholder="eg. 08/05/1988">
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30 text-center">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <button class="btn btn-link m-l-10" data-ng-click="pctrl.cancel()">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="pmbb-header m-b-15">
                    <h2>
                        <i class="md md-store m-r-5"></i> Company Info
                        <i class="md-info c-gray f-15 m-l-5" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Please enter the following information about your company." data-original-title="Company Information"></i>
                    </h2>

                    <ul class="actions">
                        <li>
                            <a data-ng-click="pctrl.beginEditingCompany()" class="f-13">edit</a>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body">
                    <div class="pmbb-view" data-ng-if="pctrl.editBusinessInfo === 0">
                        <dl class="dl-horizontal">
                            <dt>Company Name</dt>
                            <dd>{{ company.name | capitalize }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>EIN<small>(Tax ID #)</small></dt>
                            <dd>{{ company.ein }}</dd>
                        </dl>
                    </div>

                    <form data-ng-submit="pctrl.submit('businessInfo', 'Business Information')" class="pmbb-edit" data-ng-if="pctrl.editBusinessInfo === 1">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Company Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input id="compName" data-ng-model="company.name" type="text" class="form-control" value="{{ company.name | capitalize }}" placeholder="eg. ABC Rental LLC">
                                </div>

                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">EIN (Tax ID #)</dt>
                            <dd>
                                <div class="dtp-container dropdown fg-line">
                                    <input id="compEin" data-ng-model="company.ein" type='num' class="form-control" value="{{ company.ein }}" data-input-mask="{mask: '00-0000000'}">
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30 text-center">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <button class="btn btn-link m-l-10" data-ng-click="pctrl.cancel()">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <div class="pmb-block">
        <div class="row">

            <div class="col-sm-6" id="contactInfoGrp">

                <div class="pmbb-header m-b-15">
                    <h2><i class="md md-phone m-r-5"></i> Contact Info</h2>

                    <ul class="actions">
                        <li>
                            <a data-ng-click="pctrl.beginEditingContact()" class="f-13">edit</a>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body">
                    <div class="pmbb-view" data-ng-if="pctrl.editContactInfo === 0">
                        <dl class="dl-horizontal">
                            <dt>
                                <a ng-if="IsEmailVerified == 0" ng-click="phEmWarning('e')"><i class="md md-error c-red m-r-10 help"></i></a>
                                <i class="md md-check c-green m-r-10" ng-if="IsEmailVerified == 1"></i>
                                Email Address
                            </dt>
                            <dd>{{ userInfo.emailAddress }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>
                                <a ng-if="IsPhoneVerified == 0" ng-click="phEmWarning('p')"><i class="md md-error c-red m-r-10 help"></i></a>
                                <i class="md md-check c-green m-r-10" ng-if="IsPhoneVerified == 1"></i>
                                Mobile Phone
                            </dt>
                            <dd>{{ userInfo.mobileNumber }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Address</dt>
                            <dd>
                                <address class="m-b-0">
                                    {{ userInfo.address1 | capitalize }} <br />
                                    {{ userInfo.addressCity | capitalize }} {{userInfo.zip}} <br />
                                    {{ userInfo.addressCountry | capitalize }}
                                </address>
                            </dd>
                        </dl>
                    </div>

                    <form data-ng-submit="pctrl.submit('contactInfo', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="pctrl.editContactInfo === 1">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Email Address</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userInfo.emailAddress" type="email" class="form-control" placeholder="eg. cliff@nooch.com">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Mobile Phone</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userInfo.mobileNumber" type="text" class="form-control" placeholder="ex: (215) 804-4226" data-input-mask="{mask: '(000) 000-0000'}">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Address</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userInfo.address1" type="text" class="form-control" placeholder="eg. 123 W. Main St.">
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30 text-center">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <a class="btn btn-link m-l-10" data-ng-click="pctrl.cancel()">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="pmbb-header m-b-15">
                    <h2><i class="md md-thumb-up m-r-5"></i> Social Info</h2>

                    <ul class="actions">
                        <li>
                            <a data-ng-click="pctrl.beginEditingSocial()" class="f-13">edit</a>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body">
                    <div class="pmbb-view socialContainer" data-ng-if="pctrl.editSocialInfo === 0">
                        <dl class="dl-horizontal">
                            <dt><button class="btn btn-icon btn-primary show"><i class="md socicon socicon-facebook"></i></button></dt>
                            <dd>
                                <a ng-if="userInfo.fb.length > 0" href="https://facebook.com/{{ userInfo.fb }}" target="_blank">{{ userInfo.fb }}</a>
                                <span ng-if="userInfo.fb.length < 1">Not Provided</span>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><button class="btn btn-icon bgm-lightblue show"><i class="md socicon socicon-twitter"></i></button></dt>
                            <dd>
                                <a ng-if="userInfo.twitter.length > 0" href="https://twitter.com/{{ userInfo.twitter }}" target="_blank">{{ userInfo.twitter }}</a>
                                <span ng-if="userInfo.twitter.length < 1">Not Provided</span>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><button class="btn btn-icon bgm-deeppurple show"><i class="md socicon socicon-instagram"></i></button></dt>
                            <dd>
                                <a ng-if="userInfo.insta.length > 0" href="https://instagram.com/{{ userInfo.insta }}" target="_blank">{{ userInfo.insta }}</a>
                                <span ng-if="userInfo.insta.length < 1">Not Provided</span>
                            </dd>
                        </dl>
                    </div>

                    <form data-ng-submit="pctrl.submit('socialInfo', 'Social Medial Info')" class="pmbb-edit" data-ng-if="pctrl.editSocialInfo === 1">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Facebook.com/</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userInfo.fb" type="text" class="form-control" placeholder="">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Twitter &nbsp;&nbsp;@</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userInfo.twitter" type="text" class="form-control" placeholder="eg. @NoochMoney">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Instagram</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userInfo.insta" type="text" class="form-control" placeholder="eg. NoochMoney">
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30 text-center">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <a class="btn btn-link m-l-10" data-ng-click="pctrl.cancel()">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

</div>