<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">

    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" data-ng-controller="profileCtrl as pctrl">

        <div class="container">

            <div class="block-header">
                <h2>{{ userInfo.firstName }} {{userInfo.lastName}} <small>{{ company.name | capitalize  }}</small></h2>

                <ul class="actions m-t-5 hidden-xs">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="index.html#/profile/profile-bankaccounts">Bank Settings</a>
                            </li>
                            <li>
                                <a href="index.html#/profile/profile-notifications">Notification Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="alert alert-danger alert-dismissible idVerAlert animated flipInX" role="alert" data-ng-if="isIdVerified === false" data-ng-click="runWizard()">
                <button type="button" class="close" ng-click="dismissIdVerAlert($event)" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="md md-verified-user m-r-10 bumpUp-2"></i> Please <a class="alert-link" data-toggle="tooltip" data-placement="auto" data-original-title="Launch ID Verification wizard.">verify your identity</a> to start accepting payments. <span class="f-300">(It takes less than 60 seconds.)</span>
            </div>

            <div class="card z-depth-1" id="profile-main">

                <div class="pm-overview c-overflow">

                    <div class="pmo-pic">
                        <div class="p-relative" data-ng-click="editProfilePic()">
                            <a style="background-image: url('{{ userInfo.userImage }}')" id="userProfilePic">
                            </a>

                            <a class="pmop-edit">
                                <i class="md md-camera-alt"></i> <span class="show hidden-xs">Update Profile Picture</span>
                            </a>
                        </div>


                        <div class="pmo-stat bgm-lightblue z-depth-1 m-t-25">
                            <div class="col-xs-6">
                                <h2 class="m-0 c-white">{{ propCount }}</h2>
                                Total Properties
                            </div>
                            <div class="col-xs-6">
                                <h2 class="m-0 c-white">{{ userInfo.tenantsCount }}</h2>
                                Total Tenants
                            </div>
                        </div>

                    </div>

                    <!--<div class="pmo-block pmo-contact hidden-xs">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="md md-phone"></i> {{ pctrl.mobileNumber }}</li>
                                <li><i class="md md-email"></i> {{ pctrl.emailAddress }}</li>
                                <li><i class="socicon socicon-twitter"></i> {{ pctrl.twitter }}</li>
                                <li>
                                    <i class="md md-location-on"></i>
                                    <address class="m-b-0">
                                        {{ pctrl.address1 }}, <br />
                                        {{ pctrl.addressCity }}, <br />
                                        {{ pctrl.addressCountry }}
                                    </address>
                                </li>
                            </ul>
                        </div>

                        <div class="pmo-block pmo-items hidden-xs">
                            <h2>Tenants</h2>

                            <div class="pmob-body">
                            </div>
                        </div>-->

                </div>

                <div class="pm-body clearfix" id="profileMain">

                    <ul class="tab-nav tn-justified" data-ng-include="'includes/profile-menu.html'"></ul>

                    <!-- This is where the other Profile sub-pages are injected (profile-bankaccounts, profile-notifications, etc.)-->
                    <data ui-view></data>

                </div>
            </div>
        </div>

        <!-- Modal Change Profile Picture -->
        <div class="modal fade" id="addPic" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Profile Picture</h4>
                        <button type="button" class="btn btn-default btn-icon modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                    </div>
                    <div class="modal-body text-center">
                        <input id="profilePicFileInput" type="file" class="file-loading">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" ng-click="saveProfilePic()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal ID Verification -->
        <div class="modal fade" id="idVer" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Identity Verification <i class="md md-verified-user text-success m-l-10"></i></h4>
                        <button type="button" class="btn btn-default btn-icon modalclose" data-ng-click="cancelIdVer()"><i class="md md-close"></i></button>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div id="idVerWiz" class="col-sm-12">

                                <h3><i class="md md-email m-r-5"></i><br /> Contact Info</h3>
                                <section>

                                    <form id="idVerForm1" role="form">
                                        <div class="well well-sm">First, please confirm your <span>email address</span> and phone number. &nbsp;We only use this to contact you about your payments.</div>

                                        <dl class="dl-horizontal" id="nameGrp">
                                            <dt class="p-t-10 withIcon">
                                                Legal Name<br />
                                                <i ng-if="userInfo.subtype != 'Business'" class="md md-info-outline m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Please enter YOUR legal name. This should be the same name as it is listed on your bank account." data-original-title="Your Legal Name"></i>
                                                <i ng-if="userInfo.subtype == 'Business'" class="md md-info-outline m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Please enter your business's full legal name. This should be the same name as it is listed on your bank account." data-original-title="Your Legal Name"></i>
                                            </dt>
                                            <dd>
                                                <div class="form-group">
                                                    <div class="fg-line">
                                                        <input id="idVer-name" data-ng-model="userInfo.fullName" type="text" class="form-control capitalize" value="{{ userInfo.fullName }}" placeholder="eg. Arnold Palmer" maxlength="40" required />
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>

                                        <dl class="dl-horizontal" id="emailGrp">
                                            <dt class="p-t-10">Email Address</dt>
                                            <dd>
                                                <div class="form-group">
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input id="idVer-email" data-ng-model="userInfo.mobileNumber" type='email' class="form-control" value="{{ userInfo.emailAddress }}" placeholder="" maxlength="30" />
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>

                                        <dl class="dl-horizontal" id="phoneGrp">
                                            <dt class="p-t-10">Phone Number</dt>
                                            <dd>
                                                <div class="form-group">
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input id="idVer-phone" data-ng-model="userInfo.mobileNumber" type='text' class="form-control" value="{{ userInfo.mobileNumber }}" placeholder="" maxlength="18" />
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>

                                    </form>

                                </section>

                                <h3><i class="md md-place m-r-5"></i><br />Address</h3>
                                <section>

                                    <div class="well wellsm">
                                        <div class="f-16">
                                            Please enter your <span class="f-600">current</span> <span ng-if="userInfo.subtype != 'Business'">personal</span><span ng-if="userInfo.subtype == 'Business'">business</span> street address and zip code.
                                        </div>
                                    </div>

                                    <dl class="dl-horizontal" id="addressGrp">
                                        <dt class="p-t-10">
                                            Street Address<br />
                                            <i class="md md-info-outline m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="Your address helps to verify your identity and keep Nooch safe for everyone."></i>
                                        </dt>
                                        <dd>
                                            <div class="form-group">
                                                <div class="dtp-container dropdown fg-line">
                                                    <input id="idVer-address" data-ng-model="userInfo.address1" type='text' class="form-control" value="{{ userInfo.address1 | capitalize }}" placeholder="1600 Pennsylvania Ave" maxlength="50" />
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl class="dl-horizontal" id="zipGrp">
                                        <dt class="p-t-10">ZIP Code</dt>
                                        <dd>
                                            <div class="form-group">
                                                <div class="dtp-container dropdown fg-line">
                                                    <input id="idVer-zip" data-ng-model="userInfo.zip" type='text' class="form-control" value="{{ userInfo.zip }}" placeholder="eg. 90210" maxlength="6" />
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>

                                </section>

                                <h3><i class="md md-person"></i><br />Identity<span class="hide-sm"> Info</span></h3>
                                <section>

                                    <div class="well well-sm">
                                        <div>Please help us prevent fraud and identity theft...</div>
                                    </div>

                                    <dl class="dl-horizontal" id="dobGrp">
                                        <dt class="p-t-10 withIcon">
                                            Date of <span ng-if="userInfo.subtype != 'Business'">
                                                Birth<br />
                                                <i class="md md-info-outline m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="A date of birth is needed to verify a user's identity. Don't worry - nobody sees this!"></i>
                                            </span>
                                            <span ng-if="userInfo.subtype == 'Business'" class="show">Incorporation</span>
                                        </dt>
                                        <dd>
                                            <div class="input-group form-group">
                                                <span class="input-group-addon"><i class="md md-event" onclick="focus()"></i></span>
                                                <div class="dtp-container dropdown fg-line">
                                                    <input id="idVer-dob" data-format="MM/DD/YYYY" data-ng-model="userInfo.birthDay" type='text' class="form-control" data-toggle="dropdown" placeholder="eg. 08/05/1978" />
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl class="dl-horizontal" id="ssnGrp">
                                        <dt class="p-t-10">SSN</dt>
                                        <dd>
                                            <div class="form-group">
                                                <div class="dtp-container dropdown fg-line">
                                                    <input id="idVer-ssn" data-ng-model="userInfo.ssnLast4" type='text' class="form-control" value="" placeholder="XXXX - XX - XXXX" />
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl ng-if="userInfo.subtype == 'Business'" class="dl-horizontal" id="bizTypeGrp">
                                        <dt class="p-t-10">Type</dt>
                                        <dd>
                                            <div class="form-group">
                                                <div class="dtp-container dropdown fg-line">
                                                    <select id="idVer-bizType" class="form-control">
                                                        <option>LLC</option>
                                                        <option>Corporation</option>
                                                        <option>Partnership</option>
                                                        <option>Sole Proprietorship</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>

                                    <dl ng-if="userInfo.subtype == 'Business'" class="dl-horizontal" id="einGrp">
                                        <dt class="p-t-10">EIN<small>(Tax ID #)</small></dt>
                                        <dd>
                                            <div class="form-group withIcon">
                                                <div class="dtp-container dropdown fg-line">
                                                    <input id="idVer-ein" data-ng-model="company.ein" type='tel' class="form-control p-l-0" value="{{ company.ein }}" />
                                                </div>
                                                <i class="fa fa-fw fa-question-circle-o icon-right help-icon m-l-5" data-trigger="hover" data-toggle="popover" data-placement="auto" data-content="EIN = Employer Identification Number (Tax ID # from the IRS)"></i>
                                            </div>
                                        </dd>
                                    </dl>

                                    <small class="tos-text no-id-step-show hidden">
                                        By clicking submit, you agree to our <a href="https://www.nooch.com/tos" target="_blank">Terms of Service</a> &amp; <a href="https://www.noooch.com/" target="_blank">Privacy Policy</a> and our financial software partner SynapsePay's <a href="https://synapsepay.com/legal" target="_blank">Terms of Service</a> &amp; <a href="https://synapsepay.com/legal" target="_blank">Privacy Policy</a>.
                                    </small>

                                </section>

                                <h3 ng-if="userInfo.subtype != 'Business'" class="no-id-step"><i class="md md-image m-r-5"></i><br />ID Doc<span class="hide-sm"></span></h3>
                                <section ng-if="userInfo.subtype != 'Business'">

                                    <div class="well p-15 m-b-15">
                                        <div>
                                            Please upload a copy of your <span class="text-primary">photo ID</span> (driver's license, passport, etc.) <span class="f-400">&nbsp;Please make sure your name and picture are<span class="hide-sm"> clearly</span> legible.</span>
                                            <i class="fa fa-thumbs-up" style="color: #bbb; margin-left: 6px; text-shadow: 0 -1px 0 rgba(40,40,40,.6)"></i>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <input id="IdWizPic_FileInput" type="file" class="file-loading">
                                    </div>

                                    <small class="tos-text">
                                        By clicking submit, you agree to our <a href="https://www.nooch.com/tos" target="_blank">Terms of Service</a> &amp; <a href="https://www.noooch.com/" target="_blank">Privacy Policy</a> and our financial software partner SynapsePay's <a href="https://synapsepay.com/legal" target="_blank">Terms of Service</a> &amp; <a href="https://synapsepay.com/legal" target="_blank">Privacy Policy</a>.
                                    </small>

                                </section>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

</section>

<footer id="footer" data-ng-include src="'includes/footer.html'"></footer>