<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<ol class="breadcrumb m-b-10">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/properties">All Properties</a></li>
    <li class="active">Add New Property</li>
</ol>

<section id="main">

    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" class="p-t-5">

        <div class="container">

            <div class="block-header hide">
                <div class="row">
                    <div class="col-sm-9 col-lg-8">
                        <h2 class="col-xs-9" style="padding:2px 0;">Add a New Property</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">

                    <!-- Add A Property Widget -->
                    <div class="card z-depth-1 animated zoomInUp" data-ng-controller="addPropertyCtrl as apctrl">

                        <div class="card-header ch-alt">
                            <div class="row">

                                <div class="col-xs-3 col-sm-2 headerIcon" data-ng-click="apctrl.selectMultiUnit()">
                                    <i class="md md-4x md-business"><i class="md md-2x md-plus-one"></i></i>
                                </div>

                                <div class="col-xs-9 col-sm-10 p-l-0">
                                    <div class="pull-right">
                                        <button data-ng-click="apctrl.cancelGoBack()" class="btn btn-link noExtraWaves"><i class="md md-backspace m-r-5" style="position:relative;top:1px"></i> Cancel</button>
                                    </div>
                                    <h2>Add New Property<small class="">Enter the details for your property.</small></h2>
                                </div>

                            </div>
                        </div>

                        <div class="card-body card-padding">

                            <form id="addNewProperty" role="form" class="form-horizontal" data-parsley-validate>

                                <div class="row">
                                    <div id="addPropWiz" class="col-sm-12">

                                        <h3>Step 1:  Add A Name</h3>
                                        <section>

                                            <div class="well m-b-10">
                                                <div class="f-500 f-18 text-center">
                                                    <i class="md md-assignment c-gray m-r-5"></i>
                                                    First, what is the name of your property?
                                                    <br />
                                                    <span class="f-14 f-400">This can be anything that helps you identify this property.</span>
                                                </div>
                                            </div>

                                            <div id="step1Feedback">
                                                <div class="alert alert-danger" role="alert" style="display:none;">
                                                    <i class="md md-warning m-r-10"></i>So close! Please make sure you enter a name for this property.
                                                </div>
                                            </div>

                                            <div class="form-group m-t-30" id="propNameGrp">
                                                <label for="propertyName" class="col-sm-3 control-label">Property Name</label>
                                                <div class="col-sm-9 m-b-10">
                                                    <div class="fg-line">
                                                        <input type="text" id="propertyName" data-ng-model="inputData.propertyName" class="form-control" placeholder="ex: East View Apartments" data-parsley-minlength="6">
                                                    </div>
                                                    <span class="md md-check form-control-feedback m-r-10" style="display:none;"></span>
                                                </div>
                                            </div>
                                        </section>

                                        <h3>Step 2:  Add A Picture</h3>
                                        <section>
                                            <div class="well m-b-20">
                                                <div class="f-500 f-18 text-center">
                                                    <i class="md md-assignment c-gray m-r-5"></i>
                                                    Now add a picture for this property:
                                                    <br />
                                                    <span class="f-14 f-400">This is optional but highly recommended. <i class="md md-thumb-up m-l-5 bumbUp-2"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group m-b-10">
                                                <label for="propertyName" class="col-xs-12 text-center f-16">Property Picture</label>

                                                <div class="col-xs-12 m-t-5 m-b-0">

                                                    <div>
                                                        <input id="addPropPicFileInput" type="file">
                                                    </div>

                                                </div>
                                            </div>
                                        </section>

                                        <h3>Step 3:  Add An Address</h3>
                                        <section>
                                            <div class="well m-b-10">
                                                <div class="f-500 f-18 text-center">
                                                    <i class="md md-place c-gray m-r-5"></i>
                                                    Enter the street address for this property:
                                                </div>
                                            </div>

                                            <div id="step3Feedback">
                                                <div class="alert alert-danger" role="alert" style="display:none;">
                                                    <i class="md md-warning m-r-10"></i><span>So close! Please make sure you enter a name for this property.</span>
                                                </div>
                                            </div>

                                            <div class="form-group m-t-30" id="addressGrp">
                                                <label for="address" class="col-sm-3 control-label">Address</label>

                                                <div class="form-group col-sm-9 m-b-10">

                                                    <div class="col-xs-12 m-b-30">
                                                        <div class="form-group fg-float m-0">
                                                            <div class="fg-line">
                                                                <input type="text" class="form-control" id="address1" maxlength="40" data-ng-model="inputData.propertyAddress">
                                                            </div>
                                                            <label class="fg-label">Street Address</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="form-group fg-float m-0">
                                                            <div class="fg-line">
                                                                <input type="text" class="form-control" id="city" maxlength="25" data-ng-model="inputData.propertyCity">
                                                            </div>
                                                            <label class="fg-label">City</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-5">
                                                        <div class="form-group fg-float m-0">
                                                            <div class="fg-line">
                                                                <input type="text" class="form-control" id="zipCode" data-input-mask="{mask: '00000'}" maxlength="5" data-ng-model="inputData.propertyZip">
                                                            </div>
                                                            <label class="fg-label">Zip</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>

                                        <h3>Step 4:  Enter Units</h3>
                                        <section>
                                            <div class="text-center" id="singleOrMulti">

                                                <div class="z-depth-2-bottom animated container" id="singleUnit">
                                                    <span class=" ">
                                                        <i class=" md md-4x md-home">
                                                        </i>
                                                    </span>
                                                    <br />
                                                    <p class="">Single Unit</p>
                                                </div>

                                                <span class="col-xs-2" id="or">
                                                    <span class="">or</span>
                                                </span>

                                                <div class="z-depth-2-bottom animated container" id="multiUnit">
                                                    <span class=""><i class="md md-4x md-business"></i></span>
                                                    <br />
                                                    <p class="">Multiple Units</p>
                                                </div>

                                                <div id="singleUnit-rentAmountBlock" class="hidden">
                                                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 m-t-30">
                                                        <div class="form-group fg-float">
                                                            <div class="fg-line dollar">
                                                                <input type="text" class="form-control fg-input f-20" data-ng-model="inputdata.singleunitrent">
                                                            </div>
                                                            <label class="fg-label">Rent Amount</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="addUnitContainer" class="hidden">

                                                    <p class="text-centerf-500">
                                                        Do you want to <span class="f-500">add units</span> for this property now?
                                                        <br />
                                                        <small class="f-13">(You can do this later too.)</small>
                                                    </p>

                                                    <div class="m-b-20">
                                                        <button class="btn btn-success btn-icon-text animated bounceIn" data-ng-click="apctrl.addUnit()"><i class="md md-add"></i>Add A Unit</button>
                                                    </div>

                                                    <div id="addedUnits">
                                                    </div>

                                                </div>

                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            </div>

		</div>
    </section>
</section>

<footer id="footer" data-ng-include src="'includes/footer.html'"></footer>