<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">

    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">

        <div class="container" data-ng-controller="propertiesCtrl as propctrl">

            <div data-ng-if="isIdVerified === false">
                <div data-verify-id-alert></div>
            </div>

            <div class="row m-b-10">
                <div class="col-xs-12 col-sm-9">
                    <div class="block-header">
                        <h2>All Properties</h2>

                        <ul class="actions" style="top:-8px" data-ng-if="propCount > 0">
                            <li class="m-l-30">
                                <div>
                                    <a data-ui-sref="add-property" class="btn btn-primary noExtraWaves"><i class="md md-add m-r-5"></i>Add Property</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- LAYOUT OPTION #1 -->
                <!--<div class="col-sm-9 col-lg-8 hidden">

                        <div class="card z-depth-1 animated fadeInUpSm">

                            <div class="card-header ch-alt m-b-20">
                                <h2>All Properties</h2>
                            </div>

                            <div class="card-body">
                                <div class="listview lv-lg" id="propertiesList">

                                    <div class="lv-item" data-ng-repeat="w in propctrl.propResult.list">

                                        <div class="pull-right">
                                            <ul class="actions">
                                                <li class="dropdown" data-animation="bounceIn,bounceOut,1000">
                                                    <a data-toggle="dropdown">
                                                        <i class="md md-more-vert"></i>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="">Add New Unit</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Add New Tenant</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="">Edit Property</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span data-swal-params>
                                                        <i class="md md-delete m-l-5"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>

                                        <a data-toggle="collapse" data-target="#prop{{ w.id }}" aria-controls="prop{{ w.id }}" aria-expanded="false">

                                            <div class="media">

                                                <div class="pull-left">
                                                    <img class="lv-img-lg" data-ng-src="img/property-pics/{{ w.img }}" alt="Property Picture">
                                                </div>

                                                <div class="media-body">

                                                    <div class="lv-title lv-lg">{{ w.propName }}</div>
                                                    <small class="lv-small">{{ w.address }}</small>

                                                </div>

                                            </div>

                                        </a>

                                        <div class="m-t-10 collapse" id="prop{{w.id}}">
                                            <p>Just a test!!</p>
                                        </div>

                                    </div>

                                    <a class="lv-footer" href="">View All</a>
                                </div>
                            </div>
                        </div>

                    </div>-->


                <!-- LAYOUT OPTION #2 -->
                <div class="col-xs-12 col-sm-9">

                    <div class="jumbotron text-center" data-ng-if="propCount === 0 || propCount === nil">

                        <h2>Add Your Properties</h2>

                        <p class="m-b-25">
                            Get started by adding your properties so you can get paid!
                        </p>

                        <div class="m-15 p-r-10 text-center">
                            <div class="m-b-20">
                                <i class="md-business md-6x md-border-circle z-depth-2-bottom animated bounceIn" data-ui-sref="add-property" style="cursor:pointer"></i>
                            </div>
                            <button data-ui-sref="add-property" class="btn btn-lg btn-success btn-icon-text waves-effect">&nbsp;<i class="md-add m-r-5"></i> Add A Property&nbsp;</button>
                        </div>

                    </div>

                    <!-- Property View -->
                    <div class="row" data-ng-if="propCount > 0">
                        <div class="col-sm-4 propCard" data-ng-repeat="w in propResult" id="property{{w.id}}">

                            <div class="card profile-view">

                                <div>
                                    <button data-delete-prop class="btn btn-icon btn-danger closeFloat" data-propid="{{w.id}}" data-toggle="tooltip" data-placement="top" data-original-title="Delete this property">
                                        <i class="md md-close"></i>
                                    </button>
                                </div>

                                <div class="pv-header">
                                    <div class="pv-main">
                                        <img src="{{w.img}}" alt="Property Picture">
                                    </div>
                                </div>

                                <div class="pv-body">

                                    <h2>{{ w.propName | capitalize }}</h2>

                                    <span class="show m-t-10"><i class="md md-place m-r-5"></i>{{ w.address }}</span>

                                    <div class="pv-follow">
                                        <div class="row f-23 f-300">
                                            <div class="col-xs-6 p-r-5">{{ w.units }}<div class="f-14">Units</div></div>
                                            <div class="col-xs-6 p-l-5">{{ w.tenants }}<div class="f-14">Tenants</div></div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary btn-lg btn-block" id="{{w.id}}" data-ng-click="setSelectedId($event)">Manage</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-3">
                    <div id="acntChklst" data-ng-include src="'includes/account-checklist.html'"></div>
                </div>

            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include src="'includes/footer.html'"></footer>
