<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<ol class="breadcrumb m-b-10">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/properties">All Properties</a></li>
    <li class="active">Add New Property</li>
</ol>

<section id="main">

    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" class="p-t-5">

        <div class="container" data-ng-controller="propDetailsCtrl as pdctrl">

            <div class="block-header hide">
                <div class="row">
                    <div class="col-sm-9 col-lg-8">
                        <h2 class="col-xs-9" style="padding:2px 0;">Add a New Property</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-8 col-md-9">

                    <div class="card z-depth-1">

                        <div class="card-header p-b-30">
                            <h2>Haverford Towers</h2>

                            <div class="propDetails_UnitsTenants c-white">
                                <span class="bgm-gray m-r-20">
                                    <i class="md-home c-gray"></i>
                                    <span class="headline">Units</span>
                                    <span class="value">8</span>
                                </span>
                                <span class="bgm-bluegray m-r-20">
                                    <i class="md-people c-bluegray"></i>
                                    <span class="headline">Tenants</span>
                                    <span class="value">14</span>
                                </span>
                                <span class="bgm-purple">
                                    <i class="md-warning c-purple"></i>
                                    <span class="headline">Past Due</span>
                                    <span class="value">2</span>
                                </span>
                            </div>
                        </div>

                        <div class="card-body card-padding p-t-30">
                            <div class="row">

                                <div class="col-xs-4">
                                    <div class="dropdown">
                                        <a class="btn btn-link btn-block" href="" data-toggle="dropdown">Charge A Tenant <i class="caret m-l-5"></i></a>

                                        <ul class="dropdown-menu dm-icon w-100">
                                            <li class="dropdown-header"><i class="md md-attach-money m-r-5"></i>For what?</li>
                                            <li><a href=""><i class="md md-lock-outline"></i>Security Deposit</a></li>
                                            <li><a href=""><i class="md md-today"></i>Rent</a></li>
                                            <li><a href=""><i class="md md-report"></i>Damage Fee</a></li>
                                            <li><a href=""><i class="md md-format-list-bulleted"></i>Other</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <a class="btn btn-primary btn-block" href=""><i class="md md-add m-r-10"></i>Add Unit</i></a>
                                </div>

                                <div class="col-xs-4">
                                    <div class="dropdown">
                                        <a class="btn btn-primary btn-block" href="" data-toggle="dropdown">Send Message <i class="caret m-l-5"></i></a>

                                        <ul class="dropdown-menu dm-icon w-100">
                                            <li><a href=""><i class="md md-people"></i>To All Tenants</a></li>
                                            <li><a href=""><i class="md md-person"> </i>Pick 1 Tenant</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- TABLE OF UNITS -->
                    <div class="card z-depth-1 p-t-20">

                        <!--div class="card-header">
                        </div>-->
                        <!-- TABLE CONFIGURATION & SETTINGS ARE IN "js/modules/table.js  -->
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-vmiddle" id="propDetailsTbl" data-bootgrid-prop-details-table>
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-identifier="true" data-visible="false">ID</th>
                                        <th data-column-id="isEmailVer" data-visible="false"></th>
                                        <th data-column-id="isPhoneVer" data-visible="false"></th>
                                        <th data-column-id="isIdVerified" data-visible="false"></th>
                                        <th data-column-id="isBankAttached" data-visible="false"></th>
                                        <th data-column-id="email" data-visible="false"></th>
                                        <th data-column-id="unit" data-formatter="unit" data-header-css-class="columnWidth-13pc" data-align="center">Unit #</th>
                                        <th data-column-id="tenant" data-formatter="tenant" data-header-css-class="text-center">Tenant</th>
                                        <th data-column-id="amount" data-formatter="amount" data-header-css-class="columnWidth-13pc" data-align="center">Rent Amount {{ctx.icon}}</th>
                                        <th data-column-id="status" data-formatter="status" data-header-css-class="columnWidth-13pc" data-align="center">Status {{ctx.icon}}</th>
                                        <th data-column-id="commands" data-formatter="actions" data-sortable="false" data-align="center" data-header-css-class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>j.chestnut@gmail.com</td>
                                        <td>1A</td>
                                        <td>Joey Chestnut</td>
                                        <td>800</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>quinterro.frank@gmail.com</td>
                                        <td>2B</td>
                                        <td>Frank Quinterro</td>
                                        <td>850</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>susieR@yahoo.com</td>
                                        <td>5C</td>
                                        <td>Susan Rice</td>
                                        <td>900</td>
                                        <td>Awaiting Payment</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>hookshot@comcast.net</td>
                                        <td>4F</td>
                                        <td>Kareem O'Leary</td>
                                        <td>470</td>
                                        <td>Past Due</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>j.chestnut@gmail.com</td>
                                        <td>2C</td>
                                        <td>Joey Chestnut</td>
                                        <td>470</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>j.chestnut@gmail.com</td>
                                        <td>9A</td>
                                        <td>Joey Chestnut</td>
                                        <td>800</td>
                                        <td>Past Due</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>salvatore.m@gmail.com</td>
                                        <td>13B</td>
                                        <td>Sal Torelli</td>
                                        <td>103 Lancaster Ave</td>
                                        <td>450</td>
                                        <td>Payment Submited</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>j.chestnut@nooch.com</td>
                                        <td>2C</td>
                                        <td>Joey Chestnut</td>
                                        <td>450</td>
                                        <td>Awaiting Payment</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>lighteningbolt@gmail.com</td>
                                        <td>4D</td>
                                        <td>Usain Quick</td>
                                        <td>960</td>
                                        <td>Paid</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 propInfoSidebar">

                    <!-- PROPERTY INFO CARD -->
                    <div class="card z-depth-1" id="">

                        <div class="card-header p-b-5">
                            <h2>Property Info</h2>
                        </div>

                        <div class="card-body p-15">

                            <div class="propCard">
                                <div class="card profile-view">

                                    <div class="pv-header">
                                        <div class="pv-main">
                                            <img src="img/property-pics/1.png" alt="Property Picture">
                                        </div>
                                    </div>

                                    <div class="pv-body p-b-0">

                                        <h2>Haverford Towers</h2>

                                        <div class="m-10 f-15">
                                            <span><i class="md md-place"></i> 123 County Line Rd <br /></span>
                                            <span>Philadelphia, PA 19123</span>
                                        </div>

                                        <div class="pv-follow">
                                            <div class="row f-23 f-300">
                                                <div class="col-xs-6 p-r-5">8<div class="f-14">Units</div></div>
                                                <div class="col-xs-6 p-l-5">14<div class="f-14">Tenants</div></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            

                            <div class="bank-container">
                                <div class="card-header p-0 m-b-15">
                                    <h2>Bank Account</h2>
                                </div>

                                <p class="m-b-5">All rent payments for this property will be deposited into:</p>

                                <div class="m-b-15 text-center">
                                    <img class="media-object" src="img/bank-icons/boa.png">

                                    <div class="media-body p-b-10">

                                        <div class="">
                                            <h4 class="media-heading">
                                                Bank of America
                                                <span class="label label-primary m-l-5">Primary</span>
                                            </h4>
                                            Business Checking - 9876
                                        </div>

                                    </div>
                                </div>

                                <div class="m-t-20 m-b-20 f-16 p-b-20">
                                    <a class="btn btn-link btn-block noExtraWaves"><i class="md md-add"></i> Add Bank Account</a>
                                </div>
                            </div>

                            <div class="">
                                <div class="card-header p-0 m-b-15">
                                    <h2>Amenities</h2>
                                </div>

                                <div class="card-body text-center">

                                    <div class="m-b-20 f-15 p-b-20">
                                        <a class="btn btn-link noExtraWaves"><i class="md md-add"></i> Add Amenities</a>
                                    </div>

                                    <div class="">

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- PAST DUE TENANTS CARD -->
                    <div class="card z-depth-1" id="pastDueTenants">

                        <div class="card-header p-b-5">
                            <h2><i class="md md-thumb-down c-red m-r-10"></i>Past Due Tenants</h2>
                        </div>

                        <div class="card-body p-25">

                            <div class="">
                                BAD PEOPLE
                            </div>

                        </div>

                    </div>

                    <!-- LAST 5 PAYMENTS CARD -->
                    <div class="card z-depth-1" id="last5payments">

                        <div class="card-header p-b-5">
                            <h2><i class="md md-restore c-green m-r-10"></i>Last 5 Payments</h2>
                        </div>

                        <div class="card-body p-25">

                            <div class="">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include src="'includes/footer.html'"></footer>

<script>
    $(document).ready(function ()
    {
        $('#addPropWizard .finish').click(function () {
            swal({
                title: "Awesome - Property Added",
                text: "This property has been successfully created.  Would you like to publish it so Nooch users can find it to pay their rent? (You can do this later, too.)",
                type: "success",
                showCancelButton: true,
                confirmButtonColor: "#3fabe1",
                confirmButtonText: "Yes, Publish Now",
                cancelButtonText: "No, I'll do it later!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm)
                {
                    swal({
                        title: "You Got It!",
                        text: "Your property has been published.",
                        type: "success",
                    }, function (isConfirm) {
                        window.location.href = '#/properties';
                    });
                }
                else
                {
                    swal({
                        title: "No Problem",
                        text: "Your property has NOT been published. Before tenants can pay rent for this property, you must publish it, but you can do that later at any time.",
                        type: "warning",
                    }, function (isConfirm) {
                        window.location.href = '#/properties';
                    });
                }
            });
        });

		setTimeout(function () {
		    //$('#propertyName').focus();
		}, 200);
    });

</script>