<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<div data-ng-controller="propDetailsCtrl">

    <ol class="breadcrumb m-b-10">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/properties">All Properties</a></li>
        <li class="active">{{ selectedProperty.name | capitalize }}</li>
    </ol>

    <section id="main">

        <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

        <section id="content" class="p-t-5">

            <div class="container">

                <div class="row">

                    <div class="col-xs-12 col-sm-8 col-md-9">

                        <div class="card z-depth-1 animated fadeInDownSm z-index-high">

                            <div class="card-header p-b-15">
                                <div class="row">
                                    <h2 class="col-xs-12 col-sm-3 col-lg-4">
                                        {{ selectedProperty.name  | capitalize}}
                                        <small class="hidden-xs" data-ng-if="selectedProperty.published === 1">
                                            Published &nbsp;|&nbsp;
                                            <a data-ng-click="dropdownPublishedState()">Edit</a>
                                        </small>
                                        <small class="hidden-xs" data-ng-if="selectedProperty.published === 0">
                                            <span class="">Not Published</span> &nbsp;|&nbsp;
                                            <a data-ng-click="dropdownPublishedState()">Edit</a>
                                        </small>
                                    </h2>

                                    <div class="propDetails_UnitsTenants col-xs-12 col-sm-9 col-lg-8">
                                        <div class="row">
                                            <div class="col-sm-4 p-r-0 propDetailsStatBadge">
                                                <div class="bgm-gray" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="There are a total of {{selectedProperty.units}} active units for {{selectedProperty.name}}." data-original-title="# of Units in {{selectedProperty.name}}">
                                                    <i class="md-home c-gray"></i>
                                                    <span class="headline">Units</span>
                                                    <span class="value">{{ selectedProperty.units }}</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-l-10 p-r-10 propDetailsStatBadge">
                                                <div class="bgm-bluegray" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="You have a total of {{selectedProperty.tenants}} active tenants for {{selectedProperty.name}}." data-original-title="# of Tenants in {{selectedProperty.name}}">
                                                    <i class="md-people c-bluegray"></i>
                                                    <span class="headline">Tenants</span>
                                                    <span class="value">{{ selectedProperty.tenants }}</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-l-0 propDetailsStatBadge">
                                                <div class="bgm-purple" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Oh no! You still have {{selectedProperty.pastDue}} tenants at {{selectedProperty.name}} that have not paid this month's rent!" data-original-title="# of Past Due Tenants This Month">
                                                    <i class="md-warning c-purple"></i>
                                                    <span class="headline">Past Due</span>
                                                    <span class="value">{{ selectedProperty.pastDue }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body card-padding p-t-30">
                                <div class="row">

                                    <div class="col-xs-4">
                                        <div class="dropdown">
                                            <a class="btn btn-success btn-block" data-toggle="dropdown">Charge A Tenant <i class="caret m-l-5"></i></a>

                                            <ul class="dropdown-menu dm-icon w-100">
                                                <li class="dropdown-header"><i class="md md-attach-money m-r-5"></i>For what?</li>
                                                <li><a id="secDeposit" data-memo="secDeposit" ng-click="chargeTenant($event)"><i class="md md-lock-outline"></i>Security Deposit</a></li>
                                                <li><a id="rent" data-memo="rent" ng-click="chargeTenant($event)"><i class="md md-today"></i>Rent</a></li>
                                                <li><a id="damage" data-memo="damage" ng-click="chargeTenant($event)"><i class="md md-report"></i>Damage Fee</a></li>
                                                <li><a id="other" data-memo="other" ng-click="chargeTenant($event)"><i class="md md-format-list-bulleted"></i>Other</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xs-4">
                                        <a class="btn btn-default btn-block" data-ng-click="addUnit()"><i class="md md-add m-r-10"></i>Add A Unit</a>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="dropdown">
                                            <a class="btn btn-default btn-block" href="" data-toggle="dropdown"><i class="md md-insert-comment m-r-10"></i> Send Message</a>

                                            <ul class="dropdown-menu dm-icon w-100">
                                                <li><a data-ng-click="sendMsg('all')"><i class="md md-people"></i>To All Tenants</a></li>
                                                <li><a data-ng-click="sendMsg('1')"><i class="md md-person"></i>Pick 1 Tenant</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- TABLE OF UNITS -->
                        <div class="card z-depth-1 p-t-15 p-b-10 animated fadeInUpSm" id="unitsTableCard">

                            <div class="card-body table-responsive">

                                <table class="table table-striped table-vmiddle animated fadeIn" id="propUnits" cellspacing="0" width="100%">

                                    <thead>
                                        <tr>
                                            <th>TenantID</th>
                                            <th>UnitID</th>
                                            <th>Unit #</th>
                                            <th>Rent</th>
                                            <th>Tenant Name</th>
                                            <th>Tenant Email</th>
                                            <th>ImageUrl</th>
                                            <th>LastRentPaidOn</th>
                                            <th>IsRentPaidForThisMonth</th>
                                            <th>IsEmailVerified</th>
                                            <th>IsDocumentsVerified</th>
                                            <th>IsPhoneVerified</th>
                                            <th>IsBankAccountAdded</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>

                                </table>

                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 propInfoSidebar animated fadeInRight">

                        <!-- PROPERTY INFO CARD -->
                        <div class="card z-depth-1 animated fadeIn" id="">

                            <div class="card-header p-b-5">
                                <h2>Property Info</h2>
                                <ul class="actions hidden-xs" data-ng-if="editPropInfo === 0">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="md md-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a data-ng-click="beginEditingProp()"><i class="md md-mode-edit m-r-10"></i>Edit</a>
                                            </li>
                                            <li>
                                                <a data-delete-prop data-propid="{{ selectedProperty.propertyId }}"><i class="md md-delete m-r-10"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body p-15">

                                <div class="propCard">
                                    <div class="profile-view">

                                        <div class="pv-header">
                                            <div class="pv-main animated zoomIn" data-ng-click="editPropPic()">
                                                <span style="background-image: url('{{ selectedProperty.imgUrl }}')" id='propImage'></span>
                                            </div>
                                        </div>

                                        <div class="pv-body p-0 p-b-10" data-ng-if="editPropInfo === 0">
                                            <h2>{{ selectedProperty.name | capitalize }}</h2>

                                            <ul class="p-l-10 m-t-15 f-15 address">
                                                <li><i class="md md-place"></i> {{ selectedProperty.address1 | capitalize }}</li>
                                                <li class="address2">{{ selectedProperty.address2 | capitalize }}</li>
                                                <li class="address2">{{ selectedProperty.city | capitalize}}, <span class="uppercase">{{ selectedProperty.state }}</span> {{ selectedProperty.zip }}</li>
                                                <li data-ng-if="selectedProperty.contactNumber.length > 8"><i class="md md-call"></i> {{ selectedProperty.contactNumber | formatphone}}</li>
                                                <li data-ng-if="selectedProperty.contactNumber.length == 0" data-ng-click="beginEditingProp()">
                                                    <i class="md md-call"></i>
                                                    <span style="display: inline-block;">
                                                        <span class="btn btn-link btn-block noExtraWaves"><i class="md md-add"></i> add phone #</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>

                                        <form data-ng-submit="updatePropInfo()" class="pmbb-edit text-left" data-ng-if="editPropInfo === 1">
                                            <dl>
                                                <dt>Property Name</dt>
                                                <dd>
                                                    <div class="fg-line">
                                                        <input data-ng-model="selectedProperty.name" type="text" class="form-control" value="{{ selectedProperty.name | capitalize }}" placeholder="Property Name">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <dl>
                                                <dt>Address</dt>
                                                <dd>
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input data-ng-model="selectedProperty.address1" class="form-control" value="{{ selectedProperty.address1 | capitalize }}" placeholder="Street Address">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <!--<dl>
                                                <dt>Address 2</dt>
                                                <dd>
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input data-ng-model="selectedProperty.address2" class="form-control" value="{{ selectedProperty.address2 | capitalize }}" placeholder="Street Address 2">
                                                    </div>
                                                </dd>
                                            </dl>-->


                                            <dl>
                                                <dt>City</dt>
                                                <dd>
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input data-ng-model="selectedProperty.city" class="form-control" value="{{ selectedProperty.city | capitalize }}" placeholder="City">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <dl>
                                                <dt>State</dt>
                                                <dd>
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input data-ng-model="selectedProperty.state" class="form-control" value="{{ selectedProperty.state | capitalize }}" placeholder="State">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <dl>
                                                <dt>Zip</dt>
                                                <dd>
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input data-ng-model="selectedProperty.zip" class="form-control" value="{{ selectedProperty.zip }}" placeholder="ZIP Code" data-input-mask="{mask: '00000'}">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <dl>
                                                <dt>Phone</dt>
                                                <dd>
                                                    <div class="dtp-container dropdown fg-line">
                                                        <input data-ng-model="selectedProperty.contactNumber" class="form-control" value="{{ selectedProperty.contactNumber }}" placeholder="Phone" data-input-mask="{mask: '(000) 000-0000'}">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <div class="m-t-25">
                                                <button class="btn btn-primary" type="submit">Save</button>
                                                <button class="btn btn-link m-l-10" data-ng-click="resetEditForm()" type="button">Cancel</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- BANK INFO CARD -->
                        <div class="card z-depth-1" id="">

                            <div class="card-header p-b-5">
                                <h2>Bank Account Info</h2>
                                <ul class="actions hidden-xs">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="md md-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="index.html#/profile/profile-bankaccounts"><i class="md md-account-balance m-r-10"></i>Edit Bank Accounts</a>
                                            </li>
                                            <li>
                                                <a data-ng-click="editAchMemo()"><i class="md md-mode-edit m-r-10"></i>Edit ACH Memo</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li ng-if="selectedProperty.defaultBankName != null ">
                                                <a data-delete-prop><i class="md md-delete m-r-10"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body p-15">

                                <div class="bank-container" ng-if="selectedProperty.defaultBankName != null ">

                                    <p class="m-b-10">All rent payments for this property will be deposited into:</p>

                                    <div class="m-b-15 text-center">
                                        <img class="media-object" ng-src="{{ selectedProperty.bankImage }}" alt="Bank Icon">

                                        <div class="media-body p-b-10">
                                            <div class="">
                                                <h4 class="media-heading">
                                                    {{ selectedProperty.defaultBankName | capitalize }}
                                                    <span class="label label-primary m-l-5">Primary</span>
                                                </h4>
                                                {{ selectedProperty.defaultBankNickname | capitalize }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="f-16">
                                        <a href="index.html#/profile/profile-bankaccounts" class="btn btn-link btn-block noExtraWaves"><i class="md md-add"></i> Add Bank Account</a>
                                    </div>

                                </div>

                                <div class="bank-container" ng-if="selectedProperty.defaultBankName == null ">
                                    <p class="m-b-10">No bank account added yet.</p>
                                    <div class="f-16">
                                        <a href="index.html#/profile/profile-bankaccounts" class="btn btn-link btn-block noExtraWaves"><i class="md md-add"></i> Add Bank Account</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- PAST DUE TENANTS CARD -->
                        <div class="card z-depth-1" id="pastDueTenants">

                            <div class="card-header p-b-5">
                                <h2><i class="md md-thumb-down c-red m-r-10"></i>Past Due Tenants</h2>
                            </div>

                            <div class="card-body p-25">

                                <div class="">
                                    BAD PEOPLE
                                </div>

                            </div>

                        </div>

                        <!-- LAST 5 PAYMENTS CARD -->
                        <!--<div class="card z-depth-1" id="last5payments">

                                <div class="card-header p-b-5">
                                    <h2><i class="md md-restore c-green m-r-10"></i>Last 5 Payments</h2>
                                </div>

                                <div class="card-body p-25">

                                    <div class="">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>-->

                    </div>

                </div>

            </div>
        </section>
    </section>

    <footer id="footer" data-ng-include src="'includes/footer.html'"></footer>

    <!-- Modal - Charge Tenant -->
    <div class="modal fade" id="chargeTenantModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Send A Payment Request <i class="md md-assignment-return md-flip-horizontal text-success m-l-10 f-20"></i></h4>
                    <button type="button" class="btn btn-default btn-icon modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>

                <div class="modal-body">

                    <form id="chargeTenantForm" class="form-horizontal form-lg" role="form">

                        <div class="well">
                            <div class="f-16">Complete the following fields to send a payment request to your tenant.</div>
                        </div>

                        <div class="form-group" id="tenantGrp">
                            <label for="tenant" class="col-sm-3 control-label">To</label>
                            <div class="col-sm-9">

                                <select class="selectpicker dynamic" id="tenant" ng-model='tenantSelected' data-live-search="true" data-header="Select a tenant to charge">
                                    <option ng-repeat="option in allTenantsList" title="{{ option['TenantEmail'] }} &nbsp; (Unit: {{ option['UnitNumber'] }})" value="{{ option['TenantId'] }}" data-content="<img src='{{ option['ImageUrl'] }} ' class='pickerUserPic' /><div class='tenantNameEmailDiv'>{{ option['TenantEmail'] }} <small>{{ option['Name'] }}</small></div><span class='text-primary'>&nbsp; ({{ option['UnitNumber'] }})</span><span class='label label-success m-l-5 m-r-10 pull-right'>User</span>">{{ option['TenantEmail'] }}</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group" id="amountGrp">
                            <label for="amount" class="col-sm-3 control-label">Amount</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon p-r-0"><i class="md md-attach-money c-green f-30"></i></span>
                                    <div class="fg-line p-l-5">
                                        <input type='text' id="amount" class="form-control" placeholder="eg. 50.00" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="memoGrp">
                            <label for="memo" class="col-sm-3 control-label">Memo</label>
                            <div class="col-sm-9">
                                <div class="fg-line">
                                    <input type='text' id="memo" class="form-control" placeholder="Enter any notes or description" maxlength="90">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="recurGrp">
                            <label for="recur" class="ts-label col-sm-3 control-label">Recurring?</label>
                            <div class="col-sm-9 toggle-switch" data-ts-color="blue">
                                <span>No</span>
                                <input id="recur" type="checkbox" hidden="hidden">
                                <label for="recur" class="ts-helper"></label>
                                <span>Yes</span>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="md md-close m-r-10"></i>Cancel</button>
                    <button type="button" id="submitChargeTenant" class="btn btn-primary" data-ng-click="chargeTenant_Submit()"><i class="md md-check m-r-10"></i>Submit</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal - Add Unit -->
    <div class="modal fade" id="addUnitModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add A New Unit <i class="md md-home text-primary m-l-10 f-18"></i><i class="md md-plus-one text-primary"></i></h4>
                    <button type="button" class="btn btn-default btn-icon modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>

                <div class="modal-body">

                    <form id="addUnitForm" class="form-horizontal form-lg" role="form">

                        <div class="well">
                            <div class="f-16">Tell us a little about the unit.</div>
                        </div>

                        <div class="col-xs-12 col-sm-6" id="unitNumGrp">
                            <label for="unitNum" class="col-sm-5 p-l-0 p-r-0 control-label">Unit Number</label>
                            <div class="col-sm-7 p-r-0">
                                <div class="fg-line">
                                    <input type='text' id="unitNum" class="form-control placeholder-sm" placeholder="'3a' or '1st Floor'" maxlength="25" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6" id="nicknameGrp">
                            <label for="nickname" class="col-sm-4 p-r-0 control-label">Nickname</label>
                            <div class="col-sm-8 p-r-0">
                                <div class="fg-line">
                                    <input type='text' id="nickname" class="form-control placeholder-sm" placeholder="e.g. 'Shore House'" maxlength="40" required>
                                    <i class="md md-info-outline help" data-trigger="click" data-toggle="popover" data-placement="auto" data-content="Instead of a unit #, use this field to enter a name to identify this unit." data-original-title="No Unit Number?"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" id="monthlyRentGrp">
                            <label for="monthlyRent" class="col-sm-3 control-label">Monthly Rent</label>
                            <div class="col-sm-3 p-r-0">
                                <div class="input-group">
                                    <span class="input-group-addon p-r-0"><i class="md md-attach-money c-green f-30"></i></span>
                                    <div class="fg-line p-l-5">
                                        <input type='text' id="monthlyRent" class="form-control" placeholder="eg. 50.00" required>
                                    </div>
                                </div>
                            </div>
                            <label for="unitRentDueDate" class="col-sm-2 p-r-0 control-label">Due On</label>
                            <div class="col-sm-4">
                                <select data-select-picker id="unitRentDueDate">
                                    <option selected>1st of Month</option>
                                    <option>Last of Month</option>
                                    <option>15th of Month</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12" id="tenantGrp">
                            <label for="unitTenants" class="col-sm-3 control-label"><i class="md md-person m-r-5"></i>Tenant<small>Optional</small></label>
                            <div class="col-sm-9">
                                <div class="fg-line">
                                    <input type="text" id="unitTenantEm" class="form-control placeholder-sm" placeholder="Enter Tenant's Email" maxlength="50">
                                </div>

                                <!--<select data-select-picker data-live-search="true" id="unitTenants">
                                    <option selected="">Select A Tenant</option>
                                    <option data-ng-repeat="tenant in tenantsListForThisPorperty" value="{{tenant.TenantId}}">{{tenant.Name}} </option>
                                    <option value="1">NO TENANT YET</option>
                                </select>-->
                            </div>
                        </div>

                        <div class="col-xs-12" id="startDateGrp">
                            <label for="addUnitDatePicker" class="col-sm-3 control-label">Start Date<small>Optional</small></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon p-r-0"><i class="md md-event"></i></span>
                                    <div class="dtp-container dropdown fg-line p-r-0">
                                        <input id="addUnitDatePicker" data-format="MM/DD/YYYY" type='text' class="form-control" data-toggle="dropdown" placeholder="11/01/2015">
                                    </div>
                                </div>
                            </div>
                            <label for="rentDurationInMonths" class="col-sm-1 p-l-0 p-r-0 control-label">Length</label>
                            <div class="col-sm-4">
                                <select data-select-picker id="rentDurationInMonths">
                                    <option value="1">1 Month</option>
                                    <option value="6">6 Months</option>
                                    <option value="12">12 Months</option>
                                    <option value="24">24 Months</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="md md-close m-r-10"></i>Cancel</button>
                    <button type="button" id="submitChargeTenant" class="btn btn-primary pull-right" ng-click="addUnit_submit()"><i class="md md-check m-r-10"></i>Save Unit</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal - Send Message -->
    <div class="modal fade" id="sendMsgModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Send A Message<i class="md md-chat text-primary m-l-10"></i></h4>
                    <button type="button" class="btn btn-default btn-icon modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>

                <div class="modal-body">

                    <form id="sndMsgForm" class="form-horizontal form-lg" role="form">

                        <div class="well text-center">
                            <div class="f-16">Enter your message and select a tenant to send it to.</div>
                        </div>

                        <div class="form-group" id="tenantMsgGrp">
                            <label for="tenantMsg" class="col-sm-3 control-label"><i class="md md-person m-r-5"></i>Tenant</label>
                            <div class="col-sm-9">

                                <select class="selectpicker dynamic" id="tenantMsg" ng-model='tenantSelectedForMsg' data-live-search="true" data-header="Select a tenant to message">
                                    <option ng-repeat="option in allTenantsList" title="{{ option['TenantEmail'] }} &nbsp; (Unit: {{ option['UnitNumber'] }})" value="{{ option['TenantId'] }}" data-content="<img src='{{ option['ImageUrl'] }} ' class='pickerUserPic' /><div class='tenantNameEmailDiv'>{{ option['TenantEmail'] }} <small>{{ option['Name'] }}</small></div><span class='text-primary'>&nbsp; ({{ option['UnitNumber'] }})</span><span class='label label-success m-l-5 m-r-10 pull-right'>User</span>">{{ option['TenantEmail'] }}</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group" id="msgGrp">
                            <label for="msg" class="col-sm-3 control-label"><i class="md md-mode-edit m-r-5"></i>Message</label>
                            <div class="col-sm-9">
                                <div class="fg-line">
                                    <textarea id="msg" rows="4" class="form-control auto-size" data-auto-size placeholder="Enter your message here..." maxlength="1000" required></textarea>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="md md-close m-r-10"></i>Cancel</button>
                    <button type="button" id="submitChargeTenant" class="btn btn-primary" ng-click="sendMsg_submit()"><i class="md md-check m-r-10"></i>Send Message</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal - Edit ACH Memo -->
    <div class="modal fade" id="editAchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Edit ACH Memo for Haverford Towers <i class="md md-assignment-return md-flip-horizontal text-success m-l-10 f-20"></i></h4>
                    <button type="button" class="btn btn-default btn-icon modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>

                <div class="modal-body">

                    <form id="editAchMemoForm" class="form-horizontal form-lg" role="form">

                        <div class="well well-sm">
                            <div class="f-16 m-b-15">When your tenants make a paymet to you, you can edit the text of the memo line that appears on your bank statement.  This is useful to more easily keep track of payments from each tenant in your bank or accounting software.</div>
                            <div class="row">
                                <img src="img/achMemoExample2.png" class="col-xs-12" />
                            </div>
                        </div>

                        <div class="form-group" id="achMemoGrp">
                            <label for="achMemoStyle" class="col-sm-2 control-label">ACH Memo</label>
                            <div class="col-sm-10">
                                <div class="radio m-b-15">
                                    <label>
                                        <input type="radio" name="achMemoStyle" value="">
                                        <i class="input-helper"></i>
                                        Property name &nbsp;+&nbsp; Unit number
                                    </label>
                                </div>

                                <div class="radio m-b-15">
                                    <label>
                                        <input type="radio" name="achMemoStyle" value="">
                                        <i class="input-helper"></i>
                                        Property name &nbsp;+&nbsp; Unit number &nbsp;+&nbsp; Month
                                    </label>
                                </div>

                                <div class="radio ">
                                    <label>
                                        <input type="radio" name="achMemoStyle" value="">
                                        <i class="input-helper"></i>
                                        Property name &nbsp;+&nbsp; Unit number &nbsp;+&nbsp; Tenant Last Name (space permitting)
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="submitChargeTenant" class="btn btn-primary" ng-click="editAchMemo_submit()">Submit</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Change Profile Picture -->
    <div class="modal fade" id="editPropPic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 500px;">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><i class="md md-insert-photo m-r-10"></i>Change Property Picture</h4>
                    <button type="button" class="btn btn-default btn-icon modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>

                <div class="modal-body text-center">
                    <div>
                        <input id="propPicFileInput" type="file">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" ng-click="savePropertyPic()"><i class="md md-check m-r-10"></i>Save</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Upload Lease -->
    <div class="modal fade" id="uploadLease" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 600px;">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><i class="md md-insert-photo m-r-10"></i>Upload Lease</h4>
                    <button type="button" class="btn btn-default btn-icon modalclose" data-dismiss="modal"><i class="md md-close"></i></button>
                </div>

                <div class="modal-body text-center">
                    <div>
                        <input id="leaseFileInput" type="file">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" ng-click="saveLeaseDoc()"><i class="md md-check m-r-10"></i>Save</button>
                </div>

            </div>
        </div>
    </div>

</div>