<div class="card z-depth-1 animated fadeInRight" id="acntChecklistCard">

    <div class="listview" data-ng-controller="accntChecklistCtrl as chkLstCtrl">

        <div class="lv-header">
            Account Checklist <i class="md md-assignment-turned-in m-l-10"></i>
        </div>

        <div class="lv-body">

            <div class="text-center">
                <div class="easy-pie main-pie animated fadeIn" data-percent="{{checklistItems.percentComplete}}" dat-chart>
                    <div class="percent c-blue" id="countUp">0</div>
                    <div class="pie-title c-gray">Account Progress</div>
                </div>
            </div>

            <div class="lv-item">
                <div class="checkbox media">
                    <div class="pull-right">
                        <ul class="actions" ng-if="IsEmailVerified == 0">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-info"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" ng-click="ResendVerificationEmailOrSMS('Email');">Resend Verification Email</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <label>
                            <span ng-if="IsEmailVerified == 0">
                                <input type="checkbox" disabled>
                                <i class="input-helper"></i>
                                <span> Confirm Email Address</span>
                            </span>
                            <span ng-if="IsEmailVerified == 1">
                                <input type="checkbox" disabled checked>
                                <i class="input-helper"></i>
                                <span><s>Confirm Email Address</s></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="lv-item">
                <div class="checkbox media">
                    <div class="pull-right">
                        <ul class="actions" ng-if="IsPhoneVerified === false">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-info"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" ng-click="ResendVerificationEmailOrSMS('SMS');">Resend Verification SMS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <label data-toggle="dropdown">
                            <span ng-if="IsPhoneVerified === false">
                                <input type="checkbox" disabled>
                                <i class="input-helper"></i>
                                <span> Confirm Phone Number</span>
                            </span>
                            <span ng-if="IsPhoneVerified === true">
                                <input type="checkbox" disabled checked>
                                <i class="input-helper"></i>
                                <span><s>Confirm Phone Number</s></span>
                            </span>
                        </label>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" ng-click="ResendVerificationEmailOrSMS('SMS');">Resend Verification SMS</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="lv-item">
                <div class="checkbox media">
                    <div class="pull-right">
                        <ul class="actions" ng-if="isIdVerified === false">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-info"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <!--<li><a href="">Learn More</a></li>-->
                                    <li><a href="#/profile/profile-about">Go Now</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <label>
                            <span ng-if="isIdVerified === false">
                                <input type="checkbox" disabled>
                                <i class="input-helper"></i>
                                <span>Verify Identity <i class="md md-sms-failed c-red m-l-10 md-"></i></span>
                            </span>
                            <span ng-if="isIdVerified === true">
                                <input type="checkbox" disabled checked>
                                <i class="input-helper"></i>
                                <span><s>Verify Identity</s></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="lv-item">
                <div class="checkbox media">
                    <div class="pull-right" ng-if="isBankAvailable === false">
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-info"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <!--<li><a href="">Learn More</a></li>-->
                                    <li><a href="#/profile/profile-bankaccounts">Go Now</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <label>
                            <span ng-if="isBankAvailable === false">
                                <input type="checkbox" disabled>
                                <i class="input-helper"></i>
                                <span>Connect Bank Account</span>
                            </span>
                            <span ng-if="isBankAvailable === true">
                                <input type="checkbox" disabled checked>
                                <i class="input-helper"></i>
                                <span><s>Connect Bank Account</s></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="lv-item">
                <div class="checkbox media">
                    <div class="pull-right">
                        <ul class="actions" ng-if="hasAddedProperty === false">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-info"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#/property-add">Go Now</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <label>
                            <span ng-if="hasAddedProperty === false">
                                <input type="checkbox" disabled>
                                <i class="input-helper"></i>
                                <span>Add Property</span>
                            </span>
                            <span ng-if="hasAddedProperty === true">
                                <input type="checkbox" disabled checked>
                                <i class="input-helper"></i>
                                <span><s>Add Property</s></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="lv-item">
                <div class="checkbox media">
                    <div class="pull-right">
                        <ul class="actions" ng-if="hasAddedTenant === false">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-info"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#/properties">Go Now</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="media-body">
                        <label>
                            <span ng-if="hasAddedTenant == false">
                                <input type="checkbox" disabled>
                                <i class="input-helper"></i>
                                <span>Add a Tenant</span>
                            </span>
                            <span ng-if="hasAddedTenant === true">
                                <input type="checkbox" disabled checked>
                                <i class="input-helper"></i>
                                <span><s>Add a Tenant</s></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="lv-item">
                <div class="checkbox media">
                    <div class="media-body">
                        <label>
                            <span ng-if="checklistItems.acceptPayment == 0">
                                <input type="checkbox" disabled>
                                <i class="input-helper"></i>
                                <span>Accept a Rent Payment</span>
                            </span>
                            <span ng-if="checklistItems.acceptPayment == 1">
                                <input type="checkbox" disabled checked>
                                <i class="input-helper"></i>
                                <span><s>Accept a Rent Payment</s></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>